@import '../../../../global.scss';

$bor: false;

.houseContainer{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 2px;
  min-height: 35px;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.houseContainer:hover{
  cursor: pointer;
}

.houseDisplayContainer{
  display: flex;
  width: 100%;
  flex-direction: column;

  @if($bor){
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
  }
}

.houseDisplayMainContainer{
  display: flex;
  width: 100%;
  align-items: center;
  // flex-wrap: wrap;
  flex-direction: row;

  @if($bor){
    border-width: 1px;
    border-color: rgb(0, 255, 55);
    border-style: dashed;
  }
}

.houseDisplayMainTextContainer{
  display: flex;
  min-height: 35px;
  width: 100%;
  flex-direction: column;

  @media(min-width: 700px){
    flex-direction: row;
  }

  @if($bor){
    border-width: 1px;
    border-color: rgb(0, 255, 255);
    border-style: solid;
  }
}

.houseDisplayMainLongTextContainer{
  display: flex;
  width: 100%;
  flex-direction: column;

  @if($bor){
    border-width: 1px;
    border-color: rgb(172, 38, 165);
    border-style: solid;
  }
}

.houseDisplayMainShortTextContainer{
  display: flex;
  flex-direction: row;

  @if($bor){
    border-width: 1px;
    border-color: rgb(219, 216, 32);
    border-style: solid;
  }
}

.houseDisplaySecondaryContainer{
  display: flex;
  width: 100%;
  flex-direction: column;

  @if($bor){
    border-width: 1px;
    border-color: rgb(0, 255, 76);
    border-style: solid;
  }
}

.houseDisplayDetailsLine{
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  font-size: small;
  white-space: pre-line;

  @if($bor){
    border-width: 1px;
    border-color: rgb(0, 247, 255);
    border-style: dashed;
  }
}

.houseDisplayAttention{
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  color: rgb(218, 104, 104);
  font-weight: bold;
  font-size: small;
  white-space: pre-line;

  @if($bor){
    border-width: 1px;
    border-color: yellow;
    border-style: solid;
  }
}

.houseLine{
  display: flex;
  width: 100%;
  padding: 5px 10px;
  vertical-align: middle;
  min-height: 35px;
  
  @media(min-width: 700px){
    justify-content: left;
    align-items: flex-start;
  }

  @if($bor){
    border-width: 1px;
    border-color: red;
    border-style: solid;
  }
}

.houseInfo{
  display: flex;
  padding: 5px 10px;
  vertical-align: middle;
  font-size: smaller;
  
  @media(min-width: 700px){
    justify-content: left;
  }

  @if($bor){
    border-width: 1px;
    border-color: green;
    border-style: solid;
  }
}

.houseTextArea{
  user-select: text;
  width: 100%;
  min-height: 100px;
  min-width: 300px;
  margin-right: 5px;
  outline: 0px;
  margin: 5px 0px;
  resize: both;

  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;

  background-color: $transparent;
}

.inputsContainer{
  display: flex;
  width: 100%;
}

.houseCenterContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.houseSideContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 10%;
  margin: 0px 2px;
}

.houseImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.houseImage:hover{
  padding: 4px;
}