@import '../../../global.scss';

.login-twofa-box{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  
  @media(min-width: 700px){
    padding: 0px;
    max-width: 300px;
  }
  @if $bor {border: 1px solid rgb(255, 230, 0);}
}

.login-2fa-subtitle{
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0px 5px 0px;
  user-select: none;
}