@import '../../../../global.scss';

// $bor: true;

.tagsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 12px;
  padding: 5px 5px;
  margin-bottom: 10px;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;

  @if($bor) {
    border-width: 1px;
    border-style: solid;
    border-color: red;
    border-radius: 5px;
  }
}

.tagsInputLine{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.tagInput{
  width: 100%;
  height: 26px;
  padding: 0px 10px 0px 2px;
  margin: 5px 10px;
  color: beige;
  background-color: #00000000;
  border-width: 0px 0px 1px 0px;
  border-color: beige;
  border-style: solid;
  outline: 0px;
  font-family: cursive;

  @if($bor) {
    border-width: 1;
    border-style: solid;
    border-color: red;
    border-radius: 2;
  }
}

.tagInputImage{
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 6px;
}

.tagInputImage:hover{
  padding: 4px;
}

.tagImage{
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 2px;
  padding: 2px;
}

.tagImage:hover{
  padding: 4px;
}

.tagsList{
  display: flex;
  min-height: 45px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.tagContainer{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 2px;
  padding: 2px 10px;
  font-weight: bold;

  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0);
  border-radius: 20px;

  @if($bor){
    border-width: 1px;
    border-color: yellow;
    border-style: solid;
  }
}

.tagContainerToSave{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 2px;
  padding: 2px 10px;
  font-weight: bold;

  border-width: 1px;
  border-style: dashed;
  border-color: rgba(0,0,0,0);
  border-radius: 20px;
  
  @if($bor){
    border-width: 1px;
    border-color: yellow;
    border-style: solid;
  }
}

.tagContainer:hover{
  border-width: 1px;
  border-style: solid;
}

.tagAvailableTagsTitle{
  padding: 0px 0px 0px 5px;
  font-size: large;
  font-weight: bolder;
  text-align: start;
  width: 100%;

  @if($bor){
    border-width: 1px;
    border-color: blue;
    border-style: solid;
  }
}