@import '../../../../global.scss';

.stepContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
  border-radius: 5px;
  margin-bottom: 2px;

  align-items: center;
  text-align: start;

  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.stepContainerClear{
  background-color: $transparent;
  border-color: $transparent;
}

.stepContainerClear:hover{
  border-color: black;
}

.stepContainerSelected{
  border-color: red;
  border-style: dashed;
}

.stepContainerSelectedEnding{
  border-style: solid;
}

.stepTitleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
}

.stepTitle{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 35px;
  margin-right: 5px;
  padding: 0px 10px 0px 10px;
  color: beige;
}

.stepTitle:hover{
  cursor: pointer;
  font-weight: bold;
}

.stepInput{
  display: flex;
  width: 100%;
  height: 26px;
  padding: 0px 10px 0px 10px;
  margin-right: 5px;
  color: beige;
  background-color: #00000000;
  border-width: 0px 0px 1px 0px;
  border-color: beige;
  border-style: solid;
  outline: 0px;
}

.inputImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.inputImage:hover{
  padding: 4px;
}

.stepTextBlue{color: beige,}
.stepTextRed{color: beige,}
.stepTextGreen{color: beige,}
.stepTextWhite{color: black,}
.stepTextNoTheme{color: beige,}

.stepContainerBlue{background-color: #035a9c;}
.stepContainerRed{background-color: rgb(189, 32, 32);}
.stepContainerGreen{background-color: rgb(64, 121, 64);}
.stepContainerWhite{background-color: #D8AE7E;}
.stepContainerNoTheme{background-color: #1D1D1D;}

.stepInputBlue{border-color: beige;}
.stepInputRed{border-color: beige;}
.stepInputGreen{border-color: beige;}
.stepInputWhite{border-color: black;}
.stepInputNoTheme{border-color: beige;}

.stepTextFadeBlue{color: lightblue,}
.stepTextFadeRed{color: rgb(245, 184, 184),}
.stepTextFadeGreen{color: lightgreen,}
.stepTextFadeWhite{color: rgb(73, 73, 73),}
.stepTextFadeNoTheme{color: rgb(116, 116, 116); font-weight: bold;}