@import '../../../../global.scss';

$bor: false;

.stepContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
  border-radius: 5px;
  margin-bottom: 2px;

  align-items: center;
  text-align: start;
}

.stepContainerClear{
  background-color: $transparent;
  border-color: $transparent;
}

.stepContainerClear:hover{
  border-color: black;
}

.stepContainerSelected{
  border-color: red;
  border-style: dashed;
}

.stepContainerSelectedEnding{
  border-style: solid;
}

.stepTitleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  @if($bor){
    border-width: 1px;
    border-color: red;
    border-style: solid;
  }
}

.stepTitleRowContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;

  @if($bor){
    border-width: 1px;
    border-color: green;
    border-style: solid;
  }
}

.stepIconRowContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;

  @if($bor){
    border-width: 1px;
    border-color: rgb(255, 239, 14);
    border-style: solid;
  }
}

.stepTitle{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 35px;
  margin-right: 5px;
  padding: 0px 5px 0px 10px;
}

.stepTitleWithImportance{
  padding: 0px 5px 0px 0px;
}

.stepTitle:hover{
  cursor: pointer;
}

.stepInput{
  display: flex;
  width: 100%;
  height: 26px;
  padding: 0px 10px 0px 10px;
  margin-right: 5px;
  color: beige;
  background-color: #00000000;
  border-width: 0px 0px 1px 0px;
  border-color: beige;
  border-style: solid;
  outline: 0px;
}

.inputImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.inputImage:hover{
  padding: 4px;
}