@import '../../../../global.scss';

$bor: false;

.imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
  border-radius: 5px;
  margin-bottom: 2px;

  align-items: center;
  text-align: start;

  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.imageContainerClear{
  background-color: $transparent;
  border-color: $transparent;
}
.imageContainerClear:hover{
  border-color: black;
}

.imageContainerSelected{
  border-color: red;
  border-style: dashed;
}

.imageContainerSelectedEnding{
  border-style: solid;
}

.imageTitleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
}

.imageDisplayContainer{
  display: flex;
  flex-direction: column;
  width: 100%;

  @if($bor) {
    border-width: 1px;
    border-color: red;
    border-style: solid;
  }
}

.imageDisplayTitleContainer{
  display: flex;
  flex-direction: row;

  @if($bor) {
    border-width: 1px;
    border-color: lightcoral;
    border-style: solid;
  }
}

.imageTitle{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 35px;
  margin-right: 5px;
  padding: 0px 10px 0px 10px;
  color: beige;

  @if($bor) {
    border-width: 1px;
    border-color: white;
    border-style: solid;
  }
}

.imageTitle:hover{
  cursor: pointer;
  font-weight: bold;
}

.inputsContainer{
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.imageCenterContainer{
  display: flex;
  flex-direction: column;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  @if($bor) {
    border-width: 1px;
    border-color: lightgreen;
    border-style: solid;
  }
}

.imageSideContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 10%;
  margin: 0px 2px;
}

.imageInfoContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.imageInput{
  width: 100%;
  height: 26px;
  padding: 0px 10px 0px 10px;
  
  color: beige;
  background-color: #00000000;
  border-width: 0px 0px 1px 0px;
  border-color: beige;
  border-style: solid;
  outline: 0px;
}

.imageImage{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.imageImage:hover{
  padding: 4px;
}

.previewImageContainer{
  display: flex;
  justify-content: center;
  align-items: center;

  @if($bor) {
    border-width: 1px;
    border-color: #30be6b;
    border-style: solid;
  }
}

.previewImage{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-width: 500px;
  padding: 7px;

  @if($bor) {
    border-width: 1px;
    border-color: #035a9c;
    border-style: solid;
  }
}

.inputImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.inputImage:hover{
  padding: 4px;
}

.imageTextBlue{color: beige,}
.imageTextRed{color: beige,}
.imageTextGreen{color: beige,}
.imageTextWhite{color: black,}
.imageTextNoTheme{color: beige,}

.imageContainerBlue{background-color: #035a9c;}
.imageContainerRed{background-color: rgb(189, 32, 32);}
.imageContainerGreen{background-color: rgb(64, 121, 64);}
.imageContainerWhite{background-color: #D8AE7E;}
.imageContainerNoTheme{background-color: #1D1D1D;}

.imageInputBlue{border-color: beige;}
.imageInputRed{border-color: beige;}
.imageInputGreen{border-color: beige;}
.imageInputWhite{border-color: black;}
.imageInputNoTheme{border-color: beige;}

.imageTextFadeBlue{color: lightblue,}
.imageTextFadeRed{color: rgb(245, 184, 184),}
.imageTextFadeGreen{color: lightgreen,}
.imageTextFadeWhite{color: rgb(73, 73, 73),}
.imageTextFadeNoTheme{color: rgb(116, 116, 116); font-weight: bold;}