$blue: #2a52b1;
$blue-dark: #415073;
$blue-darker: #1D1D1D;
$blue-light: #98C1D9;
$beige: #F5F5DC;
$beige-light-dark: #afafaf;
$beige-dark: #4B4B46;
$beige-darker: #32322D;
$red: #EE6C4D;
$green: #99CE99;
$blue-light: #98C1D9;
$placeholder-TextColor: grey;
$grey: #F4F2EE;
$grey-dark: #666666;
$cv-blue: #0A66C2;

$topmenu-border: $blue-darker;
$topmenu-bg: $grey;
$topmenu-selected-bg: $cv-blue;
$topmenu-selected-text: $blue-darker;
$topmenu-selected-textcolor: $grey;
$topmenu-menubutton-hover: $topmenu-border;

$cv-lang-selected: $blue-darker;
$cv-lang: $cv-blue;

$experience-bg: white;
$experience-text: $blue-darker;
$knowledges-container: $cv-blue;
$knowledge-text: $beige;
$knowledges-image: $blue-darker;

$grocery-text: $blue-darker;