$bor: false;
$size: 25px;

.loadingContainer{
  position: relative;
}

.loading-image{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $size;
  min-height: $size;
  max-width: $size;
  max-height: $size;
  margin: 5px;
  padding: 2px;

  animation: loop 0.7s linear infinite;

  @if($bor){
    border-width: 1px;
    border-color: red;
    border-style: solid;
  }
}

.loading-text{
  position: absolute;
  color: red;
  font-size: 10px;
  font-weight: bold;
  padding: 2px;
  top: 50%;
  left: 50%; 
}

.loading-cell{
  text-align: 'center';
}

.loading-items{
  vertical-align: 'middle';
}

@keyframes loop {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}