@import '../../../../global.scss';

.locationContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: start;
  align-items: center;
  width: 100%;
  min-height: 35px;
  margin-bottom: 2px;
  
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}

.locationEditingContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.locationCenterContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.locationSideContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 10%;
  margin: 0px 2px;
}

.locationTitleLine{
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 35px;
  margin: 0px 5px 0px 10px;
}

.urlLineContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
}

.urlLine{
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 35px;
  margin: 0px 5px 0px 10px;
}

.urlImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.urlImageNoPointer{
  cursor: default;
}

.urlImage:hover{
  padding: 4px;
}

.upDownImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.upDownImage:hover{
  padding: 4px;
}