@import '../../../../global.scss';

.dividerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
  margin-bottom: 2px;

  align-items: center;
  text-align: start;
}

.dividerContainer:hover{
  border-color: black;
}

.dividerContainerEmptyTitle{
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.dividerContainerSelected{
  border-color: red;
  border-style: dashed;
}

.dividerContainerSeletedEnding{
  border-style: solid;
}

.titleLineContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
}

.dividerTitleLine{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
  font-weight: bold;
  margin: 0px 5px 0px 10px;
}

.dividerInput{
  width: 100%;
  padding: 0px 10px 0px 10px;
  margin-right: 5px;
  color: beige;
  background-color: #00000000;
  border-width: 0px 0px 1px 0px;
  border-color: beige;
  border-style: solid;
  outline: 0px;
}

.dividerImage{
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 7px;
}

.dividerImage:hover{
  padding: 4px;
}

.dividerNewItemContainer{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.dividerNewItemImageContainer{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.dividerNewItemImage{
  max-width: 30px;
  max-height: 30px;
  padding: 5px;
}

.dividerNewItemImage:hover{
  padding: 2px;
}