@import '../../global.scss';

// $bor: true;

.needLogin{
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  max-width: 700px;
  min-height: 40px;
  margin-top: 10px;
}

.loadingListContainer{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 300px;
}

.objectivesContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  @if($bor){
    border-width: 1px;
    border-color: rgb(129, 110, 110);
    border-style: dashed;
  }
}

.objectivesListContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  @media(min-width: 700px){
    flex-direction: row;
  }

  @if($bor){
    border-width: 2px;
    border-color: purple;
    border-style: dashed;
  }
}

.objectivesListSideContainer{
  display: flex;
  flex-direction: column;
  
  border-width: 0px 1px 0px 0px;
  border-color: $beige-darker;
  border-style: solid;
  width: 100%;
  // padding: 5px;
  
  @media(min-width: 700px){
    align-items: flex-start;
    flex-direction: row;
    min-width: 160px;
    width: 15%;
    @if $bor {border: 3px solid blue;}
  }
  @if $bor {border: 1px solid blue;}
}

.objectivesListSideContainerArchived{
  background-color: $blue-dark;
}

.objectivesSidePanelTitle{
  padding: 10px 0px;
  font-weight: bolder;

  @if $bor {border: 1px solid blue;}
}

.objectivesSidePanel{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.objectivesSidePanelButtons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 0px;

  @if($bor){
    border-width: 1px;
    border-color: red;
    border-style: solid;
  }
}

.objectivesListMainAndTagsContainer{
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 5px;
  
  @media(min-width: 700px){
    width: 85%;
  }

  @if $bor {border: 1px solid rgb(172, 13, 92);}
}

.objectivesListFirstOneContainer{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  flex-direction: row;
  font-weight: bolder;

  padding: 10px 10px;
}

.objectivesListMainContainer{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  min-width: 100px;
  @media(min-width: 700px){
    min-width: 400px;
  }
}

.objectivesListMainTags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;

  @if($bor) { border: 1px solid red; border-radius: 5px; }
}

.objectivesListMainTag{
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 5px;
  padding: 2px 10px;
  font-weight: bold;
  font-size: 13px;
  color: $beige;

  @if($bor) { border: 1px solid rgb(0, 255, 51); border-radius: 5px; }
}

.objectivesListMainTagSpecial{
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 5px;
  padding: 2px 10px;
  font-weight: bold;
  font-size: 13px;
  color: $beige;

  border-radius: 20px;
  border-width: 1px;
  border-color: black;
  border-style: solid;

  box-shadow: $black 3px 3px 0 0;

  @if($bor) { border: 1px solid rgb(255, 0, 187); border-radius: 5px; }
}

.objectivesListMainTagSelected{
  color: $beige;
  background-color: $blue-dark;

  border-radius: 20px;
  border-width: 1px;
  border-color: black;
  border-style: solid;

  box-shadow: $black 3px 3px 0 0;

  @if($bor) { border: 1px solid rgb(251, 255, 0); border-radius: 5px; }
}

.objectivesSettings{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  min-height: 40px;
  background-color: $blue-dark;

  margin: 10px 0px 10px 0px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
}

.objectivesSettingsRow{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 30px;
  margin: 5px 10px 5px 10px;
}

.objectiveRow{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px; //TODO It's really necesssary?
  // max-width: 700px;
  margin: 0px 0px 10px 0px;
}

.objectiveRowSelected{
  border-width: 1px;
  border-color: red;
  border-style: dashed;
  border-radius: 5px;
}

.objectiveRowSelectedEnding{
  border-style: solid;
}

.objectiveRow.isEditing:hover {
  cursor: pointer;
}

.objectiveSideRow{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
  @if($bor){
    border-width: 1px;
    border-color: red;
    border-style: solid;
  }
}

.objectiveSideRowSelected{
  border-width: 1px;
  border-color: red;
  border-style: dashed;
  border-radius: 5px;
}

.objectiveSideRowSelectedEnding{
  border-style: solid;
}

.objectivesImage{
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 6px;
}

.objectivesImage:hover{
  padding: 4px;
}

.btnbtn{
  cursor: pointer;
  padding: 5px;
}

@keyframes toUnchecked{
  0%{
    //width: 137px;
    transform: translate(30px, 40px);
  }
  100%{
    //width: 0px;
    transform: translate(167px, 40px);
  }
}

.checkedToUnchecked{
  width: 35px;
  height: 35px;
}

.checkedToUnchecked:hover #hideCheck{
  animation: toUnchecked 0.5s linear;
  animation-fill-mode: forwards;
}

.tagImageContainer {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 80px;
  overflow: hidden;
  margin: 5px 3px
}

.tagImageBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.tagImageTextOverlay {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: left;
  top: 0;
  left: 0;
  width: 80%;
  z-index: 2;
  color: $blue-dark;
  font-size: 10px;
  font-weight: bold;
  padding-left: 5px;
  margin: 0;
  height: 100%;
  line-height: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[theme='Dark']{
  .objectivesSidePanelTitle{
    background-color: $blue-darker;
    color: $beige;
  }

  .objectivesListMainTag{
    color: $beige;
  }

  .objectivesListMainTag:hover{
    background-color: $beige;
    color: $black;

    border-radius: 20px;
    border-width: 1px;
    border-color: black;
    border-style: solid;

    box-shadow: $black 3px 3px 0 0;
  }

  .objectivesListMainTagSpecial{
    background-color: $cv-blue;
  }
  .objectivesListMainTagSelected{
    background-color: $beige;
    color: $black;
  }
}

[theme='Light']{
  .objectivesSidePanelTitle{
    background-color: $grey-light-light;
    color: $black;
  }

  .objectivesListMainTag{
    color: $black;
  }

  .objectivesListMainTag:hover{
    background-color: $grey-light;
    color: $black;

    border-radius: 20px;
    border-width: 1px;
    border-color: black;
    border-style: solid;

    box-shadow: $black 3px 3px 0 0;
  }

  .objectivesListMainTagSpecial{
    background-color: $grey-dark;
    color: $beige;
  }
  .objectivesListMainTagSelected{
    background-color: $grey-light;
    color: $black;
  }
}