@import '../../global.scss';

// $bor: true;

.objectives-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  @if($bor){
    border-width: 1px;
    border-color: rgb(129, 110, 110);
    border-style: dashed;
  }
}

.objectives-list-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  @media(min-width: 700px){
    flex-direction: row;
  }

  @if($bor) { border: 1px solid purple; border-radius: 5px; }
}
.need-login{
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  max-width: 700px;
  min-height: 40px;
  margin-top: 10px;
}

.loading-list-container{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 300px;
}

.objectivesListSideContainer{
  display: flex;
  flex-direction: column;
  
  width: 100%;

  padding: 4px 10px;
  
  @media(min-width: 700px){
    align-items: flex-start;
    flex-direction: row;
    min-width: 160px;
    width: 300px;
  }

  @if $bor {border: 1px solid blue;}
}

.objectivesSidePanelTitle{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;

  flex-direction: row;

  padding: 10px;
  font-weight: bolder;

  border-radius: 5px 5px 0px 0px;

  width: 100%;

  @media(min-width: 700px){
  }

  @if $bor {border: 1px solid blue;}
}

.objectivesSidePanel{
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 0px 0px 5px 0px;
  box-shadow: $black 3px 3px 0 0;

  border-radius: 5px;
}

.objectivesSidePanelArchived{

}

.objectivesSidePanelTitleText{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;

  width: 100%;
}

.objectivesSidePanelButtons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 0px;

  // @if($bor) { border: 1px solid red; border-radius: 5px; }
}

.objectives-list-objectives-container{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;

  flex-direction: row;
  flex-wrap: wrap;
}

.objectives-list-main-and-tags-container{
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 5px;
  
  @media(min-width: 700px){
    width: 85%;
  }

  @if $bor {border: 1px solid rgb(172, 13, 92);}
}

.objectivesListFirstOneContainer{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  flex-direction: row;
  font-weight: bolder;

  padding: 10px 10px;
}

.objectives-list-main-container{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  min-width: 100px;
  @media(min-width: 700px){
    min-width: 400px;
  }
}

.objectivesListMainTags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;

  @if($bor) { border: 1px solid red; border-radius: 5px; }
}

.objectivesListMainTag{
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 5px;
  padding: 2px 10px;
  font-weight: bold;
  font-size: 13px;
  color: $beige;

  @if($bor) { border: 1px solid rgb(0, 255, 51); border-radius: 5px; }
}

.objectivesListMainTagSpecial{
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 5px;
  padding: 2px 10px;
  font-weight: bold;
  font-size: 13px;
  color: $beige;

  border-radius: 20px;
  border-width: 1px;
  border-color: black;
  border-style: solid;

  // box-shadow: $black 3px 3px 0 0;

  @if($bor) { border: 1px solid rgb(255, 0, 187); border-radius: 5px; }
}

.objectivesListMainTagSelected{
  color: $beige;
  background-color: $blue-dark;

  border-radius: 20px;
  border-width: 1px;
  border-color: black;
  border-style: solid;

  // box-shadow: $black 3px 3px 0 0;

  @if($bor) { border: 1px solid rgb(251, 255, 0); border-radius: 5px; }
}

.objectiveRow{
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 350px;
  width: 100%;
  max-width: 500px;

  margin: 0px 0px 10px 0px;
}

.objectiveRowSelected{
  border-width: 1px;
  border-color: red;
  border-style: dashed;
  border-radius: 5px;
}

.objectiveRowSelectedEnding{
  border-style: solid;
}

.objectiveRow.isEditing:hover {
  cursor: pointer;
}

.objectiveSideSroll{
  overflow-y: auto;
  max-height: 30vh;
  
  @media(min-width: 700px){
    overflow-y: none;
    max-height: none;
  }
  
}

.objectiveSideRow{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
  width: 100%;

  // @if($bor) { border: 1px solid red; border-radius: 5px; }
}

.objectiveSideRowSelected{
  border-width: 1px;
  border-color: red;
  border-style: dashed;
  border-radius: 5px;
}

.objectiveSideRowSelectedEnding{
  border-style: solid;
}

.objectivesImage:hover{
  padding: 4px;
}

@keyframes toUnchecked{
  0%{
    //width: 137px;
    transform: translate(30px, 40px);
  }
  100%{
    //width: 0px;
    transform: translate(167px, 40px);
  }
}

[theme='Dark']{
  .objectivesSidePanelTitle{
    background-color: $blue-darker;
    color: $beige;
  }

  .objectivesSidePanel{
    background-color: $blue-dark;
  }

  .objectivesSidePanelArchived{
    background-color: $grey-darky;
  }

  .objectivesSidePanelTitle{
    background-color: $blue-darker;
  }

  .objectivesSidePanelTitleArchived{
    background-color: $grey-dark;
  }

  .objectivesListMainTag{
    color: $beige;
  }

  .objectivesListMainTag:hover{
    background-color: $beige;
    color: $black;

    border-radius: 20px;
    border-width: 1px;
    border-color: black;
    border-style: solid;

    box-shadow: $black 3px 3px 0 0;
  }

  .objectivesListMainTagSpecial{
    background-color: $cv-blue;
  }
  .objectivesListMainTagSelected{
    background-color: $beige;
    color: $black;
  }
}

[theme='Light']{
  .objectivesSidePanelTitle{
    background-color: $grey-light-light;
    color: $black;
  }

  .objectivesSidePanel{
    background-color: $white;
  }

  .objectivesSidePanelArchived{
    background-color: $grey-light;
  }

  .objectivesSidePanelTitle{
    background-color: $grey-light;
  }

  .objectivesSidePanelTitleArchived{
    background-color: $grey-darky;
    color: $beige;
  }

  .objectivesListMainTag{
    color: $black;
  }

  .objectivesListMainTag:hover{
    background-color: $grey-light;
    color: $black;

    border-radius: 20px;
    border-width: 1px;
    border-color: black;
    border-style: solid;

    box-shadow: $black 3px 3px 0 0;
  }

  .objectivesListMainTagSpecial{
    background-color: $grey-dark;
    color: $beige;
  }
  .objectivesListMainTagSelected{
    background-color: $grey-light;
    color: $black;
  }
}