@import '../../../Colors.scss';

.groceryContainer{
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: flex-start;
  align-items: flex-start;
  color: $beige;
}

.title{
  display: flex;
  align-self: center;
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0px 40px 0px;
  color: $grocery-text;
}

.subTitle{
  margin: 30px 0px 10px 20px;
  align-self: left;
  font-size: 35px;
  font-weight: bold;
  color: $grocery-text;
}

.link{
  color: $grocery-text;
}

.sourceCode{
  color: $grocery-text;
  margin: 0px 20px;
}

.grocerylistImg{
  border: 1px solid black;
}

.grocerylistText{
  margin: 30px 5px 5px 20px;
  color: $grocery-text;
  font-weight: bold;
}