@import '../../global.scss';

.groceryContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 10px 0px 10px;

  @media screen and (max-width: $screen-max-width){
    width: 100%;
  }
}

.tableInnerContainer{
  display: flex;
  flex-direction: column;
  width: 50%;
  @media screen and (max-width: 1000px){
    width: 100%;
  }
}

.showcaseInnerContainer{
  width: 100%;
}

.title{
  display: flex;
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0px 40px 0px;
  color: $blue-light;
  justify-content: center;

  @media screen and (max-width: $screen-max-width){
    font-size: 20px;
  }
}

.subTitle{
  margin: 30px 0px 10px 0px;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  color: $blue-light;

  @media screen and (max-width: $screen-max-width){
    font-size: 20px;
  }
}

.link{
  color: $beige;
}

.sourceCode{
  color: $beige;
  margin: 2px 10px;
  text-align: left;

  @media screen and (max-width: $screen-max-width){
    margin: 2px 0px;
  }
}

.grocerylistText{
  margin: 2px 10px;
  color: $beige;
  font-weight: bold;
  text-align: left;
  font-size: 15px;

  @media screen and (max-width: $screen-max-width){
    margin: 2px 0px;
  }
}

.appSampleContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.how{
  border: 1px solid $beige;
  width: 100%;
  max-width: 1000px;
  align-self: center;
}

.appSampleImage{
  width: 300px;
  height: 633px;
  align-self: center;
  margin: 10px;
  border: 1px solid $beige;
}

.frontSampleImg{
  width: 100%;
  max-width: 1200px;
  align-self: center;
  margin: 10px;
  border: 1px solid $beige;
}

.option-container{
  background-color: #282C34;
  padding: 5px;
  width: 100%;
  margin: 10px 0px 0px 0px;
}

.option-gear{
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 2px solid #282C34;
}

.option-gear:hover{
  border: 0px solid #282C34;
}

.option{
  color: beige;
  padding: 4px 0px;
}