@import '../../../../global.scss';

.groceryContainer{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;

  width: 100%;
  min-height: 40px;
  margin-bottom: 2px;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.groceryDisplayContainer{
  display: flex;
  width: 100%;
  flex-direction: row;
}

.groceryLine{
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 10px;
}

.inputsContainer{
  display: flex;
  width: 100%;
}

.groceryCenterContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grocerySideContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 10%;
  margin: 0px 2px;
}

.groceryImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.groceryImage:hover{
  padding: 4px;
}