.summary{
  color: $beige;
  margin: 2px;
  text-align: left;
}

.header3{
  margin: 10px 0px 0px 0px;
  font-size: 20px;
  font-weight: bold;
  color: $beige;
  text-align: left;
}

.basicText{
  color: $beige;
  text-align: left;
}