@import '../../global.scss';

$bor: false;

.messageBase{
  
}

.messageAlert{
  color: black;
  background-color: #FFFFAA;
}

.messageError{
  color: black;
  background-color: #FF6D6E;
}

.messageNormal{
  color: black;
  background-color: #A8E3A8;
}