@import '../../global.scss';

$bor: false;

.objectiveMessagesContainer {
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 10px;
  // transform: translateX(10%);
  z-index: 20;
  // min-width: 300px;

  justify-content: center;
  align-items: center;
  flex-direction: column;

  @if(min-width:700px) {
    
  }

  @if($bor) {
    border-width: 1px;
    border-color: rgb(26, 255, 0);
    border-style: solid;
  }
}

.site-messages-top-menu{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  user-select: none;

  background-color: $blue-dark;

  font-size: 12px;
  font-weight: bolder;

  padding: 5px;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: $beige-dark;

  @media(min-width: 700px){
    font-size: 20px;
    // color: red;
  }

  @if($bor) {
    border-width: 1px;
    border-style: solid;
    border-color: red;
    border-radius: 5px;
  }
  
}
