@import '../../../../global.scss';

.locationContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
  border-radius: 5px;
  margin-bottom: 2px;

  align-items: center;
  text-align: start;

  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.locationContainerClear{
  background-color: $transparent;
  border-color: $transparent;
}

.locationContainer:hover{
  border-color: black;
}

.locationContainerSelected{
  border-color: red;
  border-style: dashed;
}

.locationContainerSelectedEnding{
  border-style: solid;
}

.locationEditingContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.locationCenterContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.locationSideContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 10%;
  margin: 0px 2px;
}

.titleLine{
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 35px;
  color: beige;
  font-weight: bold;
  margin: 0px 5px 0px 10px;
}

.urlLineContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
}

.urlLine{
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 35px;
  color: beige;
  margin: 0px 5px 0px 10px;
}

.locationInput{
  padding: 0px 10px 0px 10px;
  margin: 5px;
  color: beige;
  background-color: #00000000;
  border-width: 0px 0px 1px 0px;
  border-color: beige;
  border-style: solid;
  outline: 0px;
}

.urlImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.urlImageNoPointer{
  cursor: default;
}

.urlImage:hover{
  padding: 4px;
}

.upDownImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.upDownImage:hover{
  padding: 4px;
}

.locationContainerBlue{background-color: #035a9c;}
.locationContainerRed{background-color: rgb(189, 32, 32);}
.locationContainerGreen{background-color: rgb(64, 121, 64);}
.locationContainerWhite{background-color: #D8AE7E;}
.locationContainerNoTheme{background-color: #1D1D1D;}
.locationContainerNoBackground{background-color: $transparent; }

.locationTextBlue{color: beige,}
.locationTextRed{color: beige,}
.locationTextGreen{color: beige,}
.locationTextWhite{color: black,}
.locationTextNoTheme{color: beige,}

.locationInputBlue{border-color: beige;}
.locationInputRed{border-color: beige;}
.locationInputGreen{border-color: beige;}
.locationInputWhite{border-color: black;}
.locationInputNoTheme{border-color: beige;}