@import '../../../Colors.scss';
@import '../../../Global.scss';

.topMenu{
  width: 70%;
  height: 70px;
  display: flex;
  flex-direction: row;
  border-color: $topmenu-border;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  align-items: flex-end;
  background-color: $topmenu-bg;

  @media screen and (max-width: $screen-max-width){
    width: 90%;
  }
}

.menuButton{
  min-width: 120px;
  padding: 10px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: transparent;
  border-width: 1px 1px 4px 1px;
}

.menuButton:hover{
  border-width: 1px 1px 4px 1px;
  border-color: $topmenu-menubutton-hover;
}

.menuSelected{
  border-style: solid;
  border-color: $topmenu-border;
  background-color: $topmenu-selected-bg;
}

.text{
  font-size: 15px;
  font-weight: bold;
  color: $topmenu-selected-text;
}

.textSelected{
  color: white;
}