@import '../../../Colors.scss';

.topMenu{
  width: 70%;
  height: 70px;
  display: flex;
  flex-direction: row;
  border-color: $topmenu-border;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  align-items: flex-end;
  background-color: $topmenu-bg;
}

.menuButton{
  min-width: 120px;
  padding: 10px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px 0px 4px 0px;
}

.menuSelected{
  border-style: solid;
  border-color: $topmenu-border;
  border-width: 1px 1px 4px 1px;
  background-color: white;
  border-radius: 3px 3px 0px 0px;
}

.icon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.text{
  font-size: 15px;
  font-weight: bold;
  color: $blue-darker;
}