@import '../../../global.scss';

$bor: false;

.objectiveClosedContainer{
  cursor: pointer;
  position: relative;
  display: flex;
  min-height: 50px;
  margin: 0px 0px 5px 0px;
  padding: 3px 8px 3px 8px;
  align-items: center;
  width: 100%;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;

  @if($bor) { border: 1px solid red; border-radius: 5px; }
}

.objectiveClosedContainer:hover{
  justify-content: center;
}

.hidePinImage{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-30%, -50%);
  z-index: 9999;
  width: 15px;
  height: auto;
}

.objectiveClosedText{
  align-items: center;
  text-align: left;

  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;

  @if($bor) { border: 1px solid green; border-radius: 5px; }
}

.objectiveClosedImage{
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 2px;
}