@import '../../../global.scss';

$bor: false;

.objectiveClosedContainer{
  cursor: pointer;
  position: relative;
  display: flex;
  min-height: 44px;
  margin: 2px;
  padding: 3px 8px 3px 8px;
  align-items: center;
  width: 100%;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;

  @if($bor){
    border-width: 1px;
    border-color: rgb(255, 0, 0);
    border-style: solid;
  }
}

.objectiveClosedContainer:hover{
  justify-content: center;
}

.hidePinImage{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-30%, -50%);
  z-index: 9999; /* ensures it's on top of other elements */
  width: 15px;
  height: auto;
}

.objectiveClosedText{
  align-items: center;
  text-align: left;

  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;

  @if($bor){
    border-width: 1px;
    border-color: rgb(9, 255, 0);
    border-style: solid;
  }
}

.objectiveClosedImage{
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 2px;
}