@import '../../../global.scss';

$bor: false;

.table-container{
  display: flex;
  flex-direction: column;
  @if $bor {border: 1px solid red;}
}

.header-row{
  display: flex;
  flex-direction: row;
  background-color: $blue-b;
  color: beige;
  align-items: center;
  border: 1px solid grey;
  @if $bor {border: 1px solid yellow;}
}

.grocerylist-title{
  align-items: center;
  justify-content: center;
  width: 70%;
  color: beige;
  padding: 5px;
  @if $bor {border: 1px solid green;}
}

.grocerylist-header-image-container{
  width: 15%;
  padding: 5px 0px;
  @if $bor {border: 1px solid yellow;}
}

.grocerylist-header-image{
  cursor: pointer;
  max-width: 30px;
  max-height: 30px;
  padding: 3px;
  @if $bor {border: 1px solid purple;}
}

.grocerylist-header-image:hover{
  padding: 0px;
}

.info-text{
  color: beige;
}