@import '../../../global.scss';

$bor: false;

.logged-container{
  padding-top: 20px;
  @if $bor {border: 1px solid grey;}
}

.card-container{
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  border: 1px solid $grey;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 30px;
}

.logged-title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.logged-info-box {
  display: flex;
  margin-bottom: 20px;
  border-radius: 2px;
  @if $bor {border: 1px solid green;}
}

.logged-box {
  flex: 1;
  @if $bor {border: 1px solid yellow;}
}

.userRow{
  margin-bottom: 1px;
  padding: 5px;
  color: $blue-light;
  text-align: left;
  border-color: $grey;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  max-width: 300px;
  @if $bor {border: 1px solid red;}
}

.userData{
  margin-bottom: 1px;
  padding: 5px;
  color: white;
  text-align: left;
  border-color: $grey;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  max-width: 300px;
  @if $bor {border: 1px solid red;}
}

.logout-row{
  flex-direction: column;
  margin-bottom: 20px;

  @if $bor {border: 1px solid red;}
}

.btn-base{
  color: black;
  background-color: beige;
  padding: 7px 14px;
  margin: 1px 5px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.btn-base:hover{
}

.btn-logout{
  background-color: $red;
}

.btn-logout:hover{
  color: $beige;
  background-color: $red-dark;
}

.btn-togrocerylist{
  background-color: beige;
}

.btn-togrocerylist:hover{
  background-color: transparent;
  color: $beige;
  background-color: $grey-dark;
}

.admin-users-box {
  @if $bor {border: 1px solid green;}
}

.admin-user-row{
  @if $bor {border: 1px solid purple;}
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-user-name{
  @if $bor {border: 1px solid red;}
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 5px;
}

.admin-user-image{
  cursor: pointer;
  max-width: 25px;
  max-height: 25px;
  padding: 3px;
  @if $bor {border: 1px solid purple;}
}

.admin-user-image:hover{
  padding: 0px;
}

.admin-service-box {
  @if $bor {border: 1px solid green;}
}

.admin-service-row{
  @if $bor {border: 1px solid purple;}
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-service-name{
  @if $bor {border: 1px solid red;}
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 5px;
}

.admin-service-image{
  cursor: pointer;
  max-width: 25px;
  max-height: 25px;
  padding: 3px;
  @if $bor {border: 1px solid purple;}
}

.admin-service-image:hover{
  padding: 0px;
}