@import '../../../global.scss';

$bor: false;

.logged-container{
  padding-top: 20px;
  @if $bor {border: 1px solid grey;}
}

.card-container{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: $blue-darker;

  padding: 10px 15px;
  margin-bottom: 30px;

  border: 1px solid $grey;
  border-radius: 5px;
}

.logged-title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  user-select: none;
}

.fa-deactivate-container{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  
  flex-direction: column;
  margin-bottom: 10px;
}

.fa-deactivate-subtitle{
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0px 5px 0px;
  user-select: none;
}

.fa-subtitle{
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0px 5px 0px;
  user-select: none;
}

.logged-info-box {
  display: flex;
  margin-bottom: 20px;
  border-radius: 2px;
  width: 100%;
  @if $bor {border: 1px solid green;}
}

.logged-box {
  flex: 1;
  @if $bor {border: 1px solid yellow;}
}

.input-base{
  display: flex;
  justify-content: baseline;
  vertical-align: middle;
  color: beige;
  background-color: #282C34;
  padding: 5px 15px;
  width: 100%;
  outline: none;
  font-size: 20px;
  
  border-radius: 5px;
  border-width: 1px;
  border-color: $transparent;
  border-style: solid;

  @media(min-width: 700px){
    min-height: 40px;
    padding: 2px 5px;
    font-size: medium
  }

  @if($bor) {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(243, 219, 6);
    border-radius: 5px;
  }
}

.userRow{
  margin-bottom: 1px;
  padding: 5px;
  color: $blue-light;
  max-width: 300px;
  text-align: left;

  border-color: $grey;
  border-style: solid;
  border-width: 0px 0px 1px 0px;

  @if $bor {border: 1px solid red;}
}

.userData{
  margin-bottom: 1px;
  padding: 5px;
  color: white;
  text-align: left;
  border-color: $grey;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  max-width: 300px;
  @if $bor {border: 1px solid red;}
}

.logout-row{
  flex-direction: column;
  margin-bottom: 20px;

  @if $bor {border: 1px solid red;}
}

.btn-base{
  color: black;
  background-color: beige;
  padding: 7px 14px;
  margin: 1px 5px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.btn-base:hover{
}

.btn-logout{
  background-color: $red;
}

.btn-logout:hover{
  color: $beige;
  background-color: $red-dark;
}

.btn-togrocerylist{
  background-color: beige;
}

.btn-togrocerylist:hover{
  background-color: transparent;
  color: $beige;
  background-color: $grey-dark;
}

.admin-users-box {
  @if $bor {border: 1px solid green;}
}

.admin-user-row{
  @if $bor {border: 1px solid purple;}
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-user-name{
  @if $bor {border: 1px solid red;}
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 5px;
}

.changeEmailText{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;

  font-weight: bold;
  font-size: medium;
  padding: 10px 0px ;
  @if $bor {border: 1px solid rgb(0, 255, 55);}
}

.admin-user-image{
  cursor: pointer;
  max-width: 25px;
  max-height: 25px;
  padding: 3px;
  @if $bor {border: 1px solid purple;}
}

.admin-user-image:hover{
  padding: 0px;
}

.qrcode-image{
  cursor: pointer;
  max-width: 200px;
  max-height: 200px;
  padding: 3px;
  @if $bor {border: 1px solid purple;}
}

.admin-service-box {
  @if $bor {border: 1px solid green;}
}

.admin-service-row{
  @if $bor {border: 1px solid purple;}
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-service-name{
  @if $bor {border: 1px solid red;}
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 5px;
}

.admin-service-image{
  cursor: pointer;
  max-width: 25px;
  max-height: 25px;
  padding: 3px;
  @if $bor {border: 1px solid purple;}
}

.admin-service-image:hover{
  padding: 0px;
}