@import '../../../global.scss';

// $bor: true;

.objContainer{
  position: relative;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  
  flex-direction: column;
  min-width: 350px;
  max-width: 1000px;
  // padding: 10px;
  margin: 3px;
  padding: 5px;

  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;

  @if($bor) {
    border-width: 1px;
    border-style: dashed;
    border-color: red;
    border-radius: 5px;
  }
  
  box-shadow: darken($blue-darker, 20%) 4px 4px 0 0;
}

.pinImage{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 9999; /* ensures it's on top of other elements */
  width: 25px;
  height: auto;
}

.objTopContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  
  @media(min-width: 700px){
    flex-direction: row;
  }

  @if($bor) { border: 1px solid green; border-radius: 5px; }
}

.objTitleContainer{
  display: flex;
  justify-content: center;
  align-items: center;

  color: beige;

  width: 100%;
  min-width: 100px;

  @if($bor) { border: 1px solid rgb(125, 255, 125); border-radius: 5px; }
}

.objTopMenu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  color: beige;
  min-height: 50px;
  min-width: 400px;
  width: 100%;
  
  @media(min-width: 700px){
    flex-wrap: nowrap;
  }

  @if($bor) { border: 1px solid rgb(0, 255, 221); border-radius: 5px; }
}

.objObjectiveMenu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  color: beige;
  min-height: 40px;
  min-width: 400px;
  width: 100%;
  margin-bottom: 5px;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  
  @media(min-width: 700px){
    flex-wrap: nowrap;
  }

  @if($bor) {
    border-width: 1px;
    border-color: green;
    border-style: solid;
  }
}

.objTopMenuBellow700px{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 40px;
  width: 100%;
  // padding: 15px 0px 5px 0px;

  @if($bor) {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(55, 169, 189);
    border-radius: 5px;
  }
  
}

.objTitle{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100%;
  min-height: 39px;
  margin: 0px 5px;

  font-weight: bold;
  word-wrap: 'break-word';
  overflow-wrap: 'break-word';
  overflow: hidden;
  white-space: 'normal';

  @if($bor) {
    border-width: 1px;
    border-color: rgb(185, 112, 112);
    border-style: solid;
  }
}

.objTitleLeft{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  min-height: 40px;
  padding: 0px 15px 0px 5px;
  
  @media(min-width: 700px){
    justify-content: flex-start;
  }

  @if($bor) {
    border-width: 1px;
    border-color: yellow;
    border-style: dashed;
  }
}

.objTitleRight{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  min-height: 40px;
  padding: 0px 5px 0px 15px;
  
  @media(min-width: 700px){
    justify-content: flex-end;
  }

  @if($bor) {
    border-width: 1px;
    border-color: rgb(0, 195, 255);
    border-style: solid;
  }
}

.objMenuImageContainer{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;
}

.objMenuLoadingImageContainer{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 160px;
}

.objectiveImage{
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 6px;
}

.objectiveImage:hover{
  padding: 4px;
}

.objectiveSearchContainer{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 5px 5px 5px 10px;
  margin-bottom: 10px;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  
  @media(min-width: 700px){
    flex-direction: row;
  }

  @if($bor) {
    border-width: 1px;
    border-style: solid;
    border-color: red;
    border-radius: 5px;
  }
  
}

.objectiveMultiSelectContainer{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;

  flex-direction: row;
  width: 100%;
  // padding: 10px 0px;
  margin: 0px 0px 10px 0px;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.objectiveMultiSelectMenu{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  
  @media(min-width: 700px){
    flex-wrap: nowrap;
    flex-direction: row;
  }
  

  @if($bor) {
    border-width: 1px;
    border-color: rgb(184, 194, 98);
    border-style: solid;
  }
}

.objectiveMultiSelectMenuIcon{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  padding: 0px 10px 0px 0px;
  margin: 4px 4px 4px 0px;

  // border-width: 1px;
  // border-style: solid;
  // border-radius: 5px;


  @if($bor) {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(19, 40, 158);
    border-radius: 5px;
  }
}

.objectiveNewItemContainer{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 10px;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  
  @media(min-width: 700px){
    flex-wrap: nowrap;
    flex-direction: row;
  }

  @if($bor) {
    border-width: 1px;
    border-color: rgb(184, 194, 98);
    border-style: solid;
  }
}

.objectiveNewItemAmount{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;

  width: 30px;
  height: 30px;
  font-weight: bold;
  margin-left: 5px;
}

.objectiveNewItemImages{
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: end;
  
  @media(min-width: 700px){
    justify-content: end;
    flex-wrap: nowrap;
  }
}

.objectiveMenuContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.objectiveNewItemImage {
  max-width: 30px;
  max-height: 30px;
  padding: 5px;
}

.objectiveNewItemImage:hover{
  padding: 2px;
}

.objectiveColorContainer{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.objectiveColorButton{
  cursor: pointer;
  width: 26px;
  height: 26px;
  margin: 7px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
}

.objectiveItemsContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.objDevPosText{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  margin-right: 5px;
}

.objItemRow{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;

  margin-bottom: 2px;

  // border-width: 1px;
  // border-style: solid;
  // border-color: red;
  // border-radius: 5px;
}

.objDragImageContainer{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.objDragImage{
  width: 20px;
  height: 20px;
}

.itemContainer{ 
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;

  @if($bor){
    border-width: 1px;
    border-color: red;
    border-style: dashed;
  }
}