@import '../../../global.scss';

$bor: false;

.objContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 2px;

  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.pinImage{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 9999; /* ensures it's on top of other elements */
  width: 25px;
  height: auto;
}

.objTopContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  
  @media(min-width: 700px){
    flex-direction: row;
  }

  @if($bor) {
    border-width: 1px;
    border-color: green;
    border-style: solid;
  }
}

.objTopContainerWithItem{
  margin-bottom: 10px;
}

.objTitleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: beige;
  min-height: 40px;
  width: 100%;

  border-radius: 5px;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
}

.objTopMenu{
  display: flex;
  align-items: center;
  color: beige;
  flex-wrap: nowrap;
  justify-content: space-around;
  min-height: 40px;
  width: 100%;
  flex-wrap: wrap;
  
  @media(min-width: 700px){
    flex-wrap: nowrap;
  }

  @if($bor) {
    border-width: 1px;
    border-color: green;
    border-style: solid;
  }
}

.objTitle{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  font-weight: bold;
  word-wrap: 'break-word';
  overflow-wrap: 'break-word';
  white-space: 'normal';
  width: 100%;

  @if($bor) {
    border-width: 1px;
    border-color: red;
    border-style: solid;
  }
}

.objTitleLeft{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  
  @media(min-width: 700px){
    justify-content: flex-start;
  }

  @if($bor) {
    border-width: 1px;
    border-color: yellow;
    border-style: solid;
  }
}

.objTitleRight{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  
  @media(min-width: 700px){
    justify-content: flex-end;
  }

  @if($bor) {
    border-width: 1px;
    border-color: rgb(0, 195, 255);
    border-style: solid;
  }
}

.objMenuImageContainer{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;
}

.objMenuLoadingImageContainer{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 160px;
}

.objectiveImage{
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 6px;
}

.objectiveImage:hover{
  padding: 4px;
}

.objectiveSearchContainer{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 10px;
  
  @media(min-width: 700px){
    flex-direction: row;
  }
}

.objectiveNewItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 10px;
  
  @media(min-width: 700px){
    flex-wrap: nowrap;
    flex-direction: row;
  }
  

  @if($bor) {
    border-width: 1px;
    border-color: rgb(184, 194, 98);
    border-style: solid;
  }
}

.objectiveNewItemAmount{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;

  width: 30px;
  height: 30px;
  font-weight: bold;
  margin-left: 5px;
}

.objectiveNewItemImages{
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: end;
  
  @media(min-width: 700px){
    justify-content: end;
    flex-wrap: nowrap;
  }
}

.objectiveMenuContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.objectiveNewItemImage {
  max-width: 30px;
  max-height: 30px;
  padding: 5px;
}

.objectiveNewItemImage:hover{
  padding: 2px;
}

.objectiveColorContainer{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.objectiveColorButton{
  cursor: pointer;
  width: 26px;
  height: 26px;
  margin: 7px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
}

.objectiveItemsContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.objDevPosText{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  margin-right: 5px;
}

.objItemRow{
  display: flex;
}

.objDragImageContainer{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.objDragImage{
  width: 20px;
  height: 20px;
}

//$objBlue: #113a58;
$objBlue: #23315c;
$objRed: #77172E;
$objGreen: #123525;
$objWhite: $beige;
$objNoTheme: $blue-dark;
$objCyan: #256377;
$objPink: #F9C5D5;

.objObjectiveBlue{background: linear-gradient(to right, $objBlue, lighten($objBlue, 3%));}
.objObjectiveRed{background: linear-gradient(to right, $objRed, lighten($objRed, 3%));}
.objObjectiveGreen{background: linear-gradient(to right, $objGreen, lighten($objGreen, 3%));}
.objObjectiveWhite{background: linear-gradient(to right, $objWhite, darken($objWhite, 3%));}
.objObjectiveNoTheme{background: linear-gradient(to right, $objNoTheme, lighten($objNoTheme, 3%));}
.objObjectiveCyan{background: linear-gradient(to right, $objCyan, lighten($objCyan, 3%));}
.objObjectivePink{background: linear-gradient(to right, $objPink, lighten($objPink, 3%));}

.input{
  vertical-align: middle;
  text-align: left;
  width: 100%;
  height: 30px;
  padding: 0px 10px 0px 10px;
  margin-right: 5px;
  color: $beige;
  background-color: #00000000;
  border-width: 0px 0px 1px 0px;
  border-color: beige;
  border-style: solid;
  outline: 0px;

  @if($bor){
    border-width: 1px;
    border-color: green;
    border-style: solid;
  }
}
.inputWhite{
  vertical-align: middle;
  width: 100%;
  height: 26px;
  padding: 0px 10px 0px 10px;
  margin-right: 5px;
  color: black;
  background-color: #00000000;
  border-width: 0px 0px 1px 0px;
  border-color: black;
  border-style: solid;
  outline: 0px;
}

.inputAlert{
  color: red;
}

.textColor{color: beige;}
.textColorWhite{color: black;}

.textColorWhiteFade{color: #a8855c;}
.textColorFade{color: #a3a3a3}

.itemBackgroundBlue{background-color: lighten($objBlue, 10%); border-color: black;}
.itemBackgroundRed{background-color: lighten($objRed, 10%); border-color: black;}
.itemBackgroundGreen{background-color: lighten($objGreen, 10%); border-color: black;}
.itemBackgroundWhite{background-color: #D8AE7E; border-color: black;}
.itemBackgroundNoTheme{background-color: lighten($objNoTheme, 10%); border-color: black;}
.itemBackgroundCyan{background-color: lighten($objCyan, 10%); border-color: black;}
.itemBackgroundPink{background-color: darken($objPink, 10%); border-color: black;}
.itemBackgroundNoBackground{background-color: $transparent; border-color:$transparent}

.itemContainer{ 
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;

  @if($bor){
    border-width: 1px;
    border-color: red;
    border-style: solid;
  }
}
.itemContainer:hover{ border-color: black; }
.itemContainerSelected{ border-color: red; border-style: dashed; }
.itemContainerSelectedEnding{ border-style: solid; }