@import '../../../global.scss';

.objectiveClosedContainer{
  cursor: pointer;
  display: flex;
  min-height: 40px;

  padding: 2px 10px;
  margin: 10px 0px 0px 0px;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}


.objectiveClosedText{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.objectiveClosedImage{
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 2px;
}

.objObjectiveBlue{background-color: #113a58;}
.objObjectiveRed{background-color: #8F1414;}
.objObjectiveGreen{background-color: rgb(44, 82, 44);}
.objObjectiveWhite{background-color: beige;}
.objObjectiveNoTheme{background-color: $blue-dark;}

.objTextBlue{color: beige;}
.objTextRed{color: beige;}
.objTextGreen{color: beige;}
.objTextWhite{color: black;}