@import '../../../../global.scss';

$bor: false;

.linksContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: start;

  width: 100%;
  min-height: 35px;
  margin-bottom: 2px;
  
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}

.linksEditingContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.linksCenterContainer{
  display: flex;
  flex-direction: column;
  width: 100%;

  @if($bor){
    border-width: 1px;
    border-color: yellow;
    border-style: solid;
  }
}

.linksSideContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 10%;
  margin: 0px 2px;

  @if($bor){
    border-width: 1px;
    border-color: purple;
    border-style: solid;
  }
}

.titleLine{
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 35px;
  margin: 0px 5px 0px 10px;

  @if($bor){
    border-width: 1px;
    border-color: blue;
    border-style: solid;
  }
}

.linkLineContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;

  @if($bor){
    border-width: 1px;
    border-color: red;
    border-style: solid;
  }
}

.linkLine{
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 35px;

  border-radius: 5px;
  border-width: 1px;
  border-color: $transparent;
  border-style: solid;

  @if($bor){
    border-width: 1px;
    border-color: green;
    border-style: solid;
  }
}

.linkLine:hover{
  border-color: black;
}

.linkLineTitle{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0px 5px;
}

.linksListContainer{
  margin: 5px 5px;
  padding: 5px 2px;

  @if($bor){
    border-width: 1px;
    border-color: #D8AE7E;
    border-style: dashed;
  }
}

.linkImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.linkImageNoCursor{
  cursor: default;
}

.linkImage:hover{
  padding: 4px;
}

.upDownImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.upDownImage:hover{
  padding: 4px;
}