@import '../../../../global.scss';

$bor: false;

.exerciseContainer{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;

  width: 100%;
  min-height: 40px;
  margin-bottom: 2px;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.exerciseDisplayContainer{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.exerciseLine{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 35px;
}

.exerciseMainLine{
  display: flex;
  align-items: center;
}

.exerciseText{
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.exerciseDescriptionText{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px 0px 2px 10px;
}

.inputsContainer{
  display: flex;
  width: 100%;
}

.exerciseCenterContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.exerciseBodyImagesContainer{
  display: flex;
  flex-wrap: wrap;
  // width: 100%;

  @if($bor){
    border-width: 1px;
    border-style: solid;
    border-color: red;
    border-radius: 5px;
  }
}

.exerciseBodyImageContainer{
  margin: 2px;
  
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
}

.exerciseBodyImageContainerSelected{
  background-color: $blue-dark;

}

.exerciseBodyImageContainerView{
  margin: 2px;
}

.exerciseSideContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 10%;
  margin: 0px 2px;
}

.exerciseHeaderText{
  font-weight: bolder;
  font-size: larger;
  margin: 10px 0px;

  @if($bor) {
    border-width: 1px;
    border-style: solid;
    border-color: red;
    border-radius: 5px;
  }
}

.exerciseWeekdaysContainer{
  cursor: default;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 30px;

  @if($bor) {
    border-width: 1px;
    border-style: solid;
    border-color: green;
    border-radius: 5px;
  }
  
}

.exerciseWeekdaysButton{
  cursor: pointer;
  margin: 5px 10px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  
  border-width: 1px;
  border-color: $transparent;
  border-style: solid;
  border-radius: 5px;
}

.exerciseWeekdaysButton:hover{
  border-color: $black;
}

.exerciseWeekdaysButtonSelected{
  cursor: pointer;
  margin: 5px 10px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.exerciseWeekdaysButtonAllNone{
  cursor: pointer;
  margin: 5px 10px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;

  border-width: 1px;
  border-color: $transparent;
  border-style: solid;
  border-radius: 5px;
}

.exerciseWeekdaysButtonAllNone:hover{
  border-color: $black;
}

.exerciseImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.exerciseImage:hover{
  padding: 4px;
}