@import '../../../../global.scss';

$bor: false;

.imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  text-align: start;
  width: 100%;
  min-height: 35px;
  margin-bottom: 2px;
  
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;

  @if($bor){
    border-width: 1px;
    border-color: red;
    border-style: solid;
  }
}

.imageContainerClear{
  background-color: $transparent;
  border-color: $transparent;
}
.imageContainerClear:hover{
  border-color: black;
}

.imageContainerSelected{
  border-color: red;
  border-style: dashed;
}

.imageContainerSelectedEnding{
  border-style: solid;
}

.imageTitleContainer{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 35px;
  margin-right: 5px;
  padding: 0px 10px 0px 10px;
}

.imageDisplayContainer{
  display: flex;
  flex-direction: column;
  width: 100%;

  @if($bor) {
    border-width: 1px;
    border-color: red;
    border-style: solid;
  }
}

.imageDisplayTitleContainer{
  display: flex;
  flex-direction: row;

  @if($bor) {
    border-width: 1px;
    border-color: lightcoral;
    border-style: solid;
  }
}

.imageTitle{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 35px;
  margin-right: 5px;
  padding: 0px 10px 0px 10px;

  @if($bor) {
    border-width: 1px;
    border-color: white;
    border-style: solid;
  }
}

.imageTitle:hover{
  cursor: pointer;
}

.inputsContainer{
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.imageCenterContainer{
  display: flex;
  flex-direction: column;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  @if($bor) {
    border-width: 1px;
    border-color: lightgreen;
    border-style: solid;
  }
}

.imageSideContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 10%;
  margin: 0px 2px;
}

.imageInfoContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.imageImage{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.imageImage:hover{
  padding: 4px;
}

.previewImageContainer{
  display: flex;
  justify-content: center;
  align-items: center;

  @if($bor) {
    border-width: 1px;
    border-color: #30be6b;
    border-style: solid;
  }
}

.previewImage{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-width: 500px;
  padding: 7px;

  @if($bor) {
    border-width: 1px;
    border-color: #035a9c;
    border-style: solid;
  }
}

.inputImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.inputImage:hover{
  padding: 4px;
}