@import '../../../../global.scss';

// $bor: true;

.reviewContainer{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;

  width: 100%;
  min-height: 40px;

  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: $transparent;
}

.reviewDisplayContainer{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reviewLine{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  min-height: 35px;
  flex-direction: column;
  padding: 5px 0px 5px 5px;

  @if($bor) { border: 1px solid yellow; border-radius: 5px; }
}

.reviewTitle{
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0px 5px 0px 10px;

  font-size: 1em;

  @if($bor) { border: 1px solid purple; border-radius: 5px; }
}

.reviewRating{
  display: flex;
  justify-content: center;
  vertical-align: middle;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;

  align-items: center;
  font-size: 0.7em;
  font-weight: bold;
  padding: 2px 3px;
}

.reviewDesc{
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;

  align-items: center;
  font-size: 0.7em;
  font-weight: bold;
  padding: 5px 0px 0px 10px;
}

.reviewTopLine{
  display: flex;
  justify-content: center;
  vertical-align: middle;

  flex-direction: row;
  width: 100%;

  @if($bor) { border: 1px solid green; border-radius: 5px; }
}

.reviewBottomLine{
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;

  flex-direction: row;
  width: 100%;

  @if($bor) { border: 1px solid red; border-radius: 5px; }
}

.inputsContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.reviewCenterContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reviewSideContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 10%;
  margin: 0px 2px;
}

.reviewImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.reviewImage:hover{
  padding: 4px;
}