@import '../../../../global.scss';

$bor: false;

.linksContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
  border-radius: 5px;
  margin-bottom: 2px;

  align-items: center;
  text-align: start;

  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.linksContainerSelected{
  border-color: red;
  border-style: dashed;
}

.linksContainerSelectedEnding{
  border-style: solid;
}

.linksEditingContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.linksCenterContainer{
  display: flex;
  flex-direction: column;
  width: 100%;

  @if($bor){
    border-width: 1px;
    border-color: yellow;
    border-style: solid;
  }
}

.linksSideContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 10%;
  margin: 0px 2px;

  @if($bor){
    border-width: 1px;
    border-color: purple;
    border-style: solid;
  }
}

.titleLine{
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 35px;
  color: beige;
  font-weight: bold;
  margin: 0px 5px 0px 10px;

  @if($bor){
    border-width: 1px;
    border-color: blue;
    border-style: solid;
  }
}

.linkLineContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;

  @if($bor){
    border-width: 1px;
    border-color: red;
    border-style: solid;
  }
}

.linkLine{
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 35px;
  color: beige;

  border-radius: 5px;
  border-width: 1px;
  border-color: $transparent;
  border-style: solid;

  @if($bor){
    border-width: 1px;
    border-color: green;
    border-style: solid;
  }
}

.linkLine:hover{
  border-color: black;
}

.linkLineTitle{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0px 5px;
}

.linksInput{
  padding: 0px 10px 0px 10px;
  margin: 5px;
  color: beige;
  background-color: #00000000;
  border-width: 0px 0px 1px 0px;
  border-color: beige;
  border-style: solid;
  outline: 0px;
  width: 100%;

  @if($bor){
    border-width: 1px;
    border-color: white;
    border-style: dashed;
  }
}



.linksListContainer{
  margin: 5px 5px;
  padding: 5px 2px;

  @if($bor){
    border-width: 1px;
    border-color: #D8AE7E;
    border-style: dashed;
  }
}

.linkImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.linkImageNoPointer{
  cursor: default;
}

.linkImage:hover{
  padding: 4px;
}

.upDownImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.upDownImage:hover{
  padding: 4px;
}

.linksContainerBlue{background-color: #035a9c;}
.linksContainerRed{background-color: rgb(189, 32, 32);}
.linksContainerGreen{background-color: rgb(64, 121, 64);}
.linksContainerWhite{background-color: #D8AE7E;}
.linksContainerNoTheme{background-color: #1D1D1D;}
.linksContainerNoBackground{background-color: $transparent; border-color: $transparent;}

.linksTextBlue{color: beige,}
.linksTextRed{color: beige,}
.linksTextGreen{color: beige,}
.linksTextWhite{color: black,}
.linksTextNoTheme{color: beige,}

.linksInputBlue{border-color: beige;}
.linksInputRed{border-color: beige;}
.linksInputGreen{border-color: beige;}
.linksInputWhite{border-color: black;}
.linksInputNoTheme{border-color: beige;}

.linksInputWarning{
  border-color: red;
  color: red;
}