@import '../../../../global.scss';

.groceryContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  min-height: 40px;
  border-radius: 5px;
  margin-bottom: 2px;

  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.groceryContainer:hover{
  cursor: pointer;
}

.groceryContainerClear{
  background-color: $transparent; 
  border-color: $transparent;
}
.groceryContainerClear:hover{
  border-color: black;
}

.groceryContainerSelected{
  border-color: red;
  border-style: dashed;
}

.groceryContainerSelectedEnding{
  border-style: solid;
}

.groceryDisplayContainer{
  display: flex;
  width: 100%;
  flex-direction: row;
}

.groceryLine{
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 10px;
}

.inputsContainer{
  display: flex;
  width: 100%;
}

.inputLeft{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0px 5px;
}

.inputRight{
  display: flex;
  flex-direction: column;
  width: 10%;
  justify-content: center;
  align-items: center;
}

.groceryInput{
  width: 100%;
  min-height: 30px;
  padding: 0px 10px 0px 10px;
  margin: 5px 0px;
  color: beige;
  background-color: #00000000;
  border-width: 0px 0px 1px 0px;
  border-color: beige;
  border-style: solid;
  outline: 0px;
}

.groceryImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.groceryImage:hover{
  padding: 4px;
}

.groceryContainerBlue{background-color: #035a9c;}
.groceryContainerRed{background-color: rgb(189, 32, 32);}
.groceryContainerGreen{background-color: rgb(64, 121, 64);}
.groceryContainerWhite{background-color: #D8AE7E;}
.groceryContainerNoTheme{background-color: #1D1D1D;}

.groceryTextBlue{color: beige,}
.groceryTextRed{color: beige,}
.groceryTextGreen{color: beige,}
.groceryTextWhite{color: black,}
.groceryTextNoTheme{color: beige,}

.groceryTextFadeBlue{color: lightblue,}
.groceryTextFadeRed{color: rgb(245, 184, 184),}
.groceryTextFadeGreen{color: lightgreen,}
.groceryTextFadeWhite{color: rgb(73, 73, 73),}
.groceryTextFadeNoTheme{color: rgb(116, 116, 116); font-weight: bold;}

.groceryInputBlue{border-color: beige;}
.groceryInputRed{border-color: beige;}
.groceryInputGreen{border-color: beige;}
.groceryInputWhite{border-color: black;}
.groceryInputNoTheme{border-color: beige;}