@import '../../global.scss';

$bor: false;

.login-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 400px;
  flex-direction: row;
  margin-top: 10px;
  @if $bor {border: 1px solid grey;}
}

.login-box{
  @if $bor {border: 1px solid red;}
}

.login-row{
  margin: 10px;
  @if $bor {border: 1px solid purple;}
}

.alert-message {
  display: block;
  color: crimson;
  margin: 5px 0px;
}

.focus-message {
  display: block;
  color: crimson;
  margin: 5px 0px;
}

.input-base:focus + .focus-message {
  display: block;
}

.input-base{
  color: beige;
  background-color: #282C34;
  border-radius: 0%;
  border: 0px solid black;
  padding: 5px;
}

.input-base:active{
  border-radius: 0%;
  border: 0px solid black;
  padding: 5px;
}

.input-base::placeholder{
  color: $placeholder-dark;
}

.btn-base{
  color: black;
  background-color: lightgray;
  padding: 7px 14px;
  margin: 1px 5px;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0);
}

.btn-base:hover{
}

.btn-login{
  background-color: $green;
}

.btn-login:hover{ 
  border: 1px solid $beige;
}

.btn-create{
  background-color: $cv-blue;
  color: white;
}