@import '../../global.scss';

$bor: false;

.login-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 400px;
  flex-direction: row;
  margin-top: 10px;

  @if $bor {border: 1px solid grey;}
}

.login-wrapper{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;

  flex-direction: column;

  width: 100%;
  padding: 0px 10px;

  @if($bor) {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 255, 204);
    border-radius: 5px;
  }
}

.login-box{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  
  @media(min-width: 700px){
    padding: 0px;
    max-width: 300px;
  }
  @if $bor {border: 1px solid red;}
}

.login-title{
  margin: 10px 0px;
  font-size: 50px;
  font-weight: bolder;
  padding-bottom: 10px;

  @media(min-width: 700px){
    font-weight: bolder;
    font-size: 40px;
  }
}

.login-row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0px;

  @if $bor {border: 1px dashed rgb(8, 183, 196);}
}

.email-row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

  @if $bor {border: 1px dashed rgb(74, 0, 248);}
}

.email-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 10px 0px;
  @if $bor {border: 1px solid rgb(68, 38, 68);}
}

.pass-row{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @if $bor {border: 1px solid rgb(167, 76, 167);}
}

.pass-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 10px 0px;

  @if $bor {border: 1px solid rgb(68, 38, 68);}
}

.alert-message {
  display: block;
  color: crimson;
  margin: 5px 0px;

  @if $bor {border: 1px solid rgb(72, 29, 172);}
}

.warning-message {
  display: block;
  color: yellow;
  margin: 5px 0px;

  @if $bor {border: 1px solid rgb(72, 29, 172);}
}

.focus-message {
  display: block;
  color: crimson;
  margin: 5px 0px;
}

.input-base:focus + .focus-message {
  display: block;

  @if $bor {border: 1px solid rgb(0, 255, 13);}
}

.input-base{
  display: flex;
  justify-content: baseline;
  vertical-align: middle;
  color: beige;
  background-color: #282C34;
  padding: 5px 15px;
  width: 100%;
  outline: none;
  font-size: 20px;
  
  border-radius: 5px;
  border-width: 1px;
  border-color: $transparent;
  border-style: solid;

  @media(min-width: 700px){
    min-height: 40px;
    padding: 2px 5px;
    font-size: medium
  }

  @if($bor) {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(243, 219, 6);
    border-radius: 5px;
  }
}

.input-base:focus{
  border-radius: 5px;
  border-width: 1px;
  border-color: beige;
  border-style: solid;
  padding: 5px;
  outline: none;
}

.input-base::placeholder{
  color: $placeholder-dark;
}

.btn-login{
  color: black;
  background-color: beige;
  margin: 1px 5px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  
  font-size: 1rem;
  padding: 10px 20px;

  @media(min-width: 700px){
    font-size: 15px;
    padding: 7px 14px;  
  }
}

.btn-login:hover{ 
  border: 1px solid $beige;
}

.btn-create{
  background-color: $cv-blue;
  color: white;
}

.loginImage{
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: 5px;
  padding: 6px;

  @media(min-width: 700px){
    font-size: 15px;
    width: 30px;
    height: 30px;
  }
}