@import '../../global.scss';

.login-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 70%;
}

.login-box{
}

.loggedBox{
  border-radius: 2px;
  width: 300px;
  padding: 10%;
  margin-bottom: 30px;
  text-align: left;
}

.userRow{
  margin-bottom: 5px;
}

.login-row{
  margin: 10px;
  //border: 1px solid yellow;
}

.alert-message {
  display: block;
  color: crimson;
  margin: 5px 0px;
}

.focus-message {
  display: none;
  color: darkblue;
  margin: 5px 0px;
}

.input-base:focus + .focus-message {
  display: block;
}

.input-base{
  color: beige;
  background-color: #282C34;
  border-radius: 0%;
  border: 0px solid black;
  padding: 5px;
}

.input-base:active{
  border-radius: 0%;
  border: 0px solid black;
  padding: 5px;
}

.input-base::placeholder{
  color: $placeholder-dark;
}

.btn-base{
  color: black;
  width: 100px;
  height: 100%;
  padding: 5px;
  font-weight: bold;
  border: 1px solid black;
}

.btn-base:hover{

}

.btn-base:active{

}

.btn-login{
  background-color: $green;
}

.btn-login:active{ 
  border-color: $beige;
  color: $beige;
  background-color: $blue-darker;
}

.btn-logout:hover{

}

.btn-logout{
  background-color: $red;
  
}

.btn-logout:hover{

}

.btn-create{
  background-color: $cv-blue;
  color: white;
}

.btn-create:hover{
}