@import '../../global.scss';

$bor: false;

.login-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 400px;
  flex-direction: row;
  margin-top: 10px;
  @if $bor {border: 1px solid grey;}
}

.login-box{
  @if $bor {border: 1px solid red;}
}

.login-row{
  display: flex;
  align-items: center;
  justify-content: center;

  @if $bor {border: 1px solid grey;}
}

.email-row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  @if $bor {border: 1px solid purple;}
}

.email-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 10px 0px;
  @if $bor {border: 1px solid rgb(68, 38, 68);}
}

.pass-row{
  display: flex;
  justify-content: center;
  align-items: center;
  @if $bor {border: 1px solid rgb(167, 76, 167);}
}

.pass-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 10px 0px;

  @if $bor {border: 1px solid rgb(68, 38, 68);}
}

.alert-message {
  display: block;
  color: crimson;
  margin: 5px 0px;

  @if $bor {border: 1px solid rgb(72, 29, 172);}
}

.warning-message {
  display: block;
  color: yellow;
  margin: 5px 0px;

  @if $bor {border: 1px solid rgb(72, 29, 172);}
}

.focus-message {
  display: block;
  color: crimson;
  margin: 5px 0px;
}

.input-base:focus + .focus-message {
  display: block;

  @if $bor {border: 1px solid rgb(29, 172, 36);}
}

.input-base{
  color: beige;
  background-color: #282C34;
  border-radius: 5px;
  border-width: 1px;
  border-color: $transparent;
  border-style: solid;
  padding: 5px;
  width: 100%;
  outline: none;
}

.input-base:focus{
  border-radius: 5px;
  border-width: 1px;
  border-color: beige;
  border-style: solid;
  padding: 5px;
  outline: none;
}

.input-base::placeholder{
  color: $placeholder-dark;
}

.btn-login{
  color: black;
  background-color: beige;
  padding: 7px 14px;
  margin: 1px 5px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.btn-login:hover{ 
  border: 1px solid $beige;
}

.btn-create{
  background-color: $cv-blue;
  color: white;
}

.loginImage{
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 6px;
}