@import '../../../../global.scss';

$bor: false;

.item-row-color-one{
  display: flex;
  flex-direction: row;
  background-color: $blue-b;
  align-items: center;
  border-width: 0px 1px 1px 1px;
  border-color: $blue-darker;
  border-style: solid;
  @if $bor {border: 1px solid red;}
}

.item-row-color-two{
  display: flex;
  flex-direction: row;
  background-color: $blue-dark;
  align-items: center;
  border-width: 0px 1px 1px 1px;
  border-color: $blue-darker;
  border-style: solid;
  @if $bor {border: 1px solid red;}
}

.item-row-text{
  font-size: 0.9em;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: beige;
  text-align: left;
  width: 70%;
  padding-left: 15px;
  @if $bor {border: 1px solid green;}
}

.item-row-details{
  font-size: 0.9em;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: beige;
  text-align: left;
  width: 70%;
  padding: 15px;
  @if $bor {border: 1px solid green;}
}

.item-row-details-line{
  display: flex;
  align-items: center;
}

.item-row-details-line-right{
  display: flex;
  align-items: right;
}

.item-row-details-text{
  vertical-align: middle;
  font-size: 1em;
  color: beige;
  text-align: left;
  width: 20%;

  @media screen and (max-width: $screen-max-width){
    font-size: 0.7em;
  }
}

.item-row-input{
  margin: 1%;
  font-size: 1em;
  color: beige;
  text-align: 'left';
  margin: '0';
  background-color: #282C34;
  width: 60%;

  @media screen and (max-width: $screen-max-width){
    font-size: 0.7em;
  }
}

.form-control:focus{
  color: beige;
  border-color: red;
  background-color: #282C34;
}

.item-row-container{
  width: 15%;
  padding: 5px 0px;
  @if $bor {border: 1px solid yellow;}
}

.item-row-image{
  cursor: pointer;
  max-width: 25px;
  max-height: 25px;
  padding: 3px;
  @if $bor {border: 1px solid purple;}
}

.item-row-image-plusminus{
  cursor: pointer;
  max-width: 25px;
  max-height: 25px;
  padding: 3px;
  @if $bor {border: 1px solid purple;}
}

.item-row-image:hover{
  padding: 0px;
}

.item-row-donecancel-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  @if $bor {border: 1px solid grey;}
}

.item-row-done{
  cursor: pointer;
  max-width: 45px;
  max-height: 45px;
  padding: 3px;
  margin: 0px 15px;
  @if $bor {border: 1px solid purple;}
}

.item-row-done:hover{
  padding: 0px;
}

.item-row-cancel{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 3px;
  margin: 0px 15px;
  @if $bor {border: 1px solid purple;}
}

.item-row-cancel:hover{
  padding: 0px;
}