@import '../../../../global.scss';

$bor: false;

.stepContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;

  width: 100%;
  min-height: 35px;
  margin-bottom: 2px;
  
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;

  @if($bor) {
    border-width: 1px;
    border-style: solid;
    border-color: red;
    border-radius: 5px;
  }
}

.stepTitleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  @if($bor){
    border-width: 1px;
    border-color: red;
    border-style: solid;
  }
}

.stepTitleRowContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-bottom: 10px;

  @if($bor){
    border-width: 1px;
    border-color: green;
    border-style: solid;
  }
}

.stepIconRowContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 5px;

  @if($bor){
    border-width: 1px;
    border-color: rgb(255, 239, 14);
    border-style: solid;
  }
}

.stepAutoDestroyContainer{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;

  margin: 5px;
  padding: 0px 10px;
}

.stepAutoDestroyContainerActive{

}

.stepAutoDestroyText{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepTitle{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 35px;
  margin-right: 5px;
  padding: 0px 5px 0px 10px;
}

.stepTitleWithImportance{
  padding: 0px 5px 0px 0px;
}

.stepTitle:hover{
  cursor: pointer;
}

.inputImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.inputImage:hover{
  padding: 4px;
}