@import '../../../../global.scss';

.medicineContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  min-height: 40px;
  border-radius: 5px;
  margin-bottom: 2px;

  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.medicineContainer:hover{
  cursor: pointer;
}

.medicineContainerClear{
  background-color: $transparent;
  border-color: $transparent;
}
.medicineContainerClear:hover{
  border-color: black;
}

.medicineContainerSelected{
  border-color: red;
  border-style: dashed;
}

.medicineContainerSelectedEnding{
  border-style: solid;
}

.medicineDisplayContainer{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.medicineLine{
  display: flex;
  width: 100%;
  min-height: 35px;
}

.medicineText{
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 5px;
}

.inputsContainer{
  display: flex;
  width: 100%;
}

.inputLeft{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0px 5px;
}

.inputRight{
  display: flex;
  flex-direction: column;
  width: 10%;
  justify-content: center;
  align-items: center;
}

.medicineInput{
  width: 100%;
  min-height: 30px;
  padding: 0px 10px 0px 10px;
  margin: 5px;
  color: beige;
  background-color: #00000000;
  border-width: 0px 0px 1px 0px;
  border-color: beige;
  border-style: solid;
  outline: 0px;
}

.medicineImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.medicineImage:hover{
  padding: 4px;
}

.medicineContainerBlue{background-color: #035a9c;}
.medicineContainerRed{background-color: rgb(189, 32, 32);}
.medicineContainerGreen{background-color: rgb(64, 121, 64);}
.medicineContainerWhite{background-color: #D8AE7E;}
.medicineContainerNoTheme{background-color: #1D1D1D;}


.medicineTextBlue{color: beige,}
.medicineTextRed{color: beige,}
.medicineTextGreen{color: beige,}
.medicineTextWhite{color: black,}
.medicineTextNoTheme{color: beige,}

.medicineTextFadeBlue{color: lightblue,}
.medicineTextFadeRed{color: rgb(245, 184, 184),}
.medicineTextFadeGreen{color: lightgreen,}
.medicineTextFadeWhite{color: rgb(73, 73, 73),}
.medicineTextFadeNoTheme{color: rgb(116, 116, 116); font-weight: bold;}

.medicineInputBlue{border-color: beige;}
.medicineInputRed{border-color: beige;}
.medicineInputGreen{border-color: beige;}
.medicineInputWhite{border-color: black;}
.medicineInputNoTheme{border-color: beige;}