@import '../../global.scss';

$bor: false;

.topMenu{
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0px 20px 0px;
  margin: 0px;

  @media screen and (max-width: $screen-max-width){
    width: 100%;
  }
}

.buttonsContainer{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  @if($bor) {
    border-width: 1px;
    border-style: solid;
    border-color: red;
    border-radius: 5px;
  }
}

.menuButton{
  cursor: pointer;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;

  padding: 5px 10px;
  margin: 2px 7px;
  flex-direction: column;
  font-size: 20px;

  border-style: solid;
  border-color: transparent;
  border-width: 1px 1px 1px 1px;
  border-radius: 5px;

  @media(min-width: 700px){
    margin: 2px 5px;
  }

  @if($bor) {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(17, 255, 0);
    border-radius: 5px;
  }
  
}

.menuButton:hover{
  border-style: solid;
  border-width: 1px;
  border-color: $beige-dark;
}

.menuSelected{
  border-color: $beige-dark;
  background-color: $blue-dark;
}

.text{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;

  font-size: 20px;
  font-weight: bold;
  color: $beige;
}

.textSelected{
  color: $beige;
}