@import '../global.scss';

// $bor: true;

$size: 36px;
$sizeBig: 50px;
$sizeBigger: 55px;

.press-image-container{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $size;
  min-height: $size;
  max-width: $size;
  max-height: $size;
  // margin: 5px;
  padding: 7px;

  margin: 2px;

  border-radius: 5px;

  @if($bor) { border: 1px solid red; border-radius: 5px; }
}

.press-image-container-hover:hover{
  padding: 5px;

  box-shadow: darken($blue-darker, 20%) 2px 2px 0 0;
  transform: translateX(-1px) translateY(-1px);

  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

.press-image-container-selected{
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.15);
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;

  box-shadow: darken($blue-darker, 20%) 2px 2px 0 0 inset;
}

.press-image-container-big{
  min-width: $sizeBig;
  min-height: $sizeBig;
  max-width: $sizeBig;
  max-height: $sizeBig;
}

.press-image-container-bigger{
  min-width: $sizeBigger;
  min-height: $sizeBigger;
  max-width: $sizeBigger;
  max-height: $sizeBigger;
}


.press-image-image{
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;

  @if($bor){
    border-width: 1px;
    border-color: green;
    border-style: solid;
  }
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.press-image-text{
  position: 'absolute';
  color: red;
  font-size: 12;
  font-weight: 'bold';
}