@import './color-palette.scss';

$bor: false;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.beige-darker{
  filter: brightness(40%);
}

.text-bold{
  font-weight: bold;
}

:root{
  --test: yellow;

  --site-background-color: greenyellow;

}

.input-base{
  display: flex;
  justify-content: baseline;
  vertical-align: middle;
  width: 100%;
  outline: none;
  font-size: 20px;
  color: $red;
  background-color: $transparent;

  padding: 3px 5px 2px 10px;
  margin: 2px 0px;

  border-radius: 5px;
  border-width: 1px;
  border-color: $black;
  border-style: solid;

  box-shadow: black 2px 2px 2px 0px inset;

  @media(min-width: 700px){
    min-height: 40px;
    padding: 3px 5px 2px 10px;
    margin: 2px 0px;
    font-size: medium
  }

  @if($bor) {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(243, 219, 6);
    border-radius: 5px;
  }
}

.input-simple-base{
  display: flex;
  justify-content: baseline;
  vertical-align: middle;
  width: 100%;
  outline: none;
  font-size: 20px;
  color: $red;
  background-color: $transparent;

  padding: 3px 5px 0px 5px;
  margin: 2px 0px;

  border-width: 0px 0px 1px 0px;
  border-color: $black;
  border-style: solid;

  @media(min-width: 700px){
    min-height: 40px;
    padding: 3px 5px 0px 5px;
    margin: 2px 0px;
    font-size: medium
  }

  @if($bor) {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(243, 219, 6);
    border-radius: 5px;
  }
}

[theme="Dark"]{
  --test: red;

  --site-background-color: #{$blue-darker-darker};

  .g-bd-color{
    border-color: $black;
  }
  .g-txt{color: $beige;}
  .g-txt-fade{color: #a3a3a3;}

  .g-img-dark{}

  .input-base{
    color: $beige;
    background-color: $blue-dark;
  }

  .input-base::placeholder{
    color: $placeholder-dark;
  }

  .input-simple-base{
    border-color: $beige;
    color: $beige;
  }

  .global-blue-obj-background{background: linear-gradient(to right, $obj-blue-dark, lighten($obj-blue-dark, 3%));}
  .global-red-obj-background{background: linear-gradient(to right, $obj-red-dark, lighten($obj-red-dark, 3%));}
  .global-green-obj-background{background: linear-gradient(to right, $obj-green-dark, lighten($obj-green-dark, 3%));}
  .global-notheme-obj-background{background: linear-gradient(to right, $obj-noTheme-dark, lighten($obj-noTheme-dark, 3%));}
  .global-cyan-obj-background{background: linear-gradient(to right, $obj-cyan-dark, lighten($obj-cyan-dark, 3%));}
  .global-white-obj-background{background: linear-gradient(to right, $obj-white-dark, darken($obj-white-dark, 3%));}
  .global-pink-obj-background{background: linear-gradient(to right, $obj-pink-dark, lighten($obj-pink-dark, 3%));}

  .global-blue-text{color: beige;}
  .global-red-text{color: beige;}
  .global-green-text{color: beige;}
  .global-cyan-text{color: beige;}
  .global-notheme-text{color: beige;}
  .global-white-text{color: black;}
  .global-pink-text{color: black;}

  .global-blue-text-fade{color: #a3a3a3;}
  .global-red-text-fade{color: #a3a3a3;}
  .global-green-text-fade{color: #a3a3a3;}
  .global-cyan-text-fade{color: #a3a3a3;}
  .global-notheme-text-fade{color: #a3a3a3;}
  .global-white-text-fade{color: #a8855c;}
  .global-pink-text-fade{color: #a3a3a3;}

  .global-blue-text-contrast{color: black;}
  .global-red-text-contrast{color: black;}
  .global-green-text-contrast{color: black;}
  .global-cyan-text-contrast{color: black;}
  .global-notheme-text-contrast{color: black;}
  .global-white-text-contrast{color: beige;}
  .global-pink-text-contrast{color: beige;}

  .global-blue-text-alert{color: $red;}
  .global-red-text-alert{color: $red;}
  .global-green-text-alert{color: $red;}
  .global-white-text-alert{color: $red;}
  .global-cyan-text-alert{color: $red;}
  .global-pink-text-alert{color: $red;}
  .global-notheme-text-alert{color: $red;}

  .global-blue-item-background-fade{background-color: $transparent}
  .global-red-item-background-fade{background-color: $transparent}
  .global-green-item-background-fade{background-color: $transparent}
  .global-notheme-item-background-fade{background-color: $transparent}
  .global-cyan-item-background-fade{background-color: $transparent}
  .global-white-item-background-fade{background-color: $transparent}
  .global-pink-item-background-fade{background-color: $transparent}
  .global-blue-item-background-fade{background-color: $transparent;}

  .global-blue-item-background{background-color: lighten($obj-blue-dark, 10%);}
  .global-red-item-background{background-color: lighten($obj-red-dark, 10%);}
  .global-green-item-background{background-color: lighten($obj-green-dark, 10%);}
  .global-notheme-item-background{background-color: lighten($obj-noTheme-dark, 10%);}
  .global-cyan-item-background{background-color: lighten($obj-cyan-dark, 10%);}
  .global-white-item-background{background-color: darken($obj-white-light, 10%);}
  .global-pink-item-background{background-color: darken($obj-pink-light, 10%);}
  
  .global-blue-item-background-dark{background-color: darken($obj-blue-dark, 5%);}
  .global-red-item-background-dark{background-color: darken($obj-red-dark, 5%);}
  .global-green-item-background-dark{background-color: darken($obj-green-dark, 5%);}
  .global-notheme-item-background-dark{background-color: darken($obj-noTheme-dark, 5%);}
  .global-cyan-item-background-dark{background-color: darken($obj-cyan-dark, 5%);}
  .global-white-item-background-dark{background-color: darken($obj-white-light, 5%);}
  .global-pink-item-background-dark{background-color: darken($obj-pink-light, 5%);}

  .global-blue-input{color: beige;border-color: $beige; background-color: $transparent;}
  .global-red-input{color: beige;border-color: $beige; background-color: $transparent;}
  .global-green-input{color: beige;border-color: $beige; background-color: $transparent;}
  .global-cyan-input{color: beige;border-color: $beige; background-color: $transparent;}
  .global-notheme-input{color: beige;border-color: $beige; background-color: $transparent;}
  .global-white-input{color: black;border-color: $black; background-color: $transparent;}
  .global-pink-input{color: black;border-color: $black; background-color: $transparent;}

  .global-blue-input-contrast{color: black;border-color: black;}
  .global-red-input-contrast{color: black;border-color: black;}
  .global-green-input-contrast{color: black;border-color: black;}
  .global-cyan-input-contrast{color: black;border-color: black;}
  .global-notheme-input-contrast{color: black;border-color: black;}
  .global-white-input-contrast{color: beige;border-color: beige;}
  .global-pink-input-contrast{color: beige;border-color: beige;}

  .global-blue-input-alert{color: $red;border-color: $red;}
  .global-red-input-alert{color: $red;border-color: $red;}
  .global-green-input-alert{color: $red;border-color: $red;}
  .global-white-input-alert{color: $red;border-color: $red;}
  .global-cyan-input-alert{color: $red;border-color: $red;}
  .global-pink-input-alert{color: $red;border-color: $red;}
  .global-notheme-input-alert{color: $red;border-color: $red;}
}

[theme='Light']{
  --test: green;

  --site-background-color: #{$grey-light-light};

  .g-bd-color{
    border-color: $black;
  }
  .g-txt{color: $black;}
  .g-txt-fade{color: #a3a3a3;}
  .g-img-dark{filter:brightness(0%)}

  .input-base{
    color: $black;
    background-color: $grey-light-light;
  }

  .input-base::placeholder{
    color: $placeholder-dark;
  }

  .input-simple-base{
    border-color: $black;
    color: $black;
  }

  .global-blue-obj-background{background: linear-gradient(to right, $obj-blue-light, darken($obj-blue-light, 3%));}
  .global-red-obj-background{background: linear-gradient(to right, $obj-red-light, darken($obj-red-light, 3%));}
  .global-green-obj-background{background: linear-gradient(to right, $obj-green-light, darken($obj-green-light, 3%));}
  .global-notheme-obj-background{background: linear-gradient(to right, $obj-noTheme-light, darken($obj-noTheme-light, 3%));}
  .global-cyan-obj-background{background: linear-gradient(to right, $obj-cyan-light, darken($obj-cyan-light, 3%));}
  .global-white-obj-background{background: linear-gradient(to right, $obj-white-light, lighten($obj-white-light, 3%));}
  .global-pink-obj-background{background: linear-gradient(to right, $obj-pink-light, darken($obj-pink-light, 3%));}

  .global-blue-text{color: $black;}
  .global-red-text{color: $black;}
  .global-green-text{color: $black;}
  .global-cyan-text{color: $black;}
  .global-notheme-text{color: $black;}
  .global-white-text{color: $black;}
  .global-pink-text{color: $black;}

  .global-blue-text-fade{color: #a3a3a3;}
  .global-red-text-fade{color: #a3a3a3;}
  .global-green-text-fade{color: #a3a3a3;}
  .global-cyan-text-fade{color: #a3a3a3;}
  .global-notheme-text-fade{color: #a3a3a3;}
  .global-white-text-fade{color: #a8855c;}
  .global-pink-text-fade{color: #a3a3a3;}
  
  .global-blue-text-contrast{color: black;}
  .global-red-text-contrast{color: black;}
  .global-green-text-contrast{color: black;}
  .global-cyan-text-contrast{color: black;}
  .global-notheme-text-contrast{color: black;}
  .global-white-text-contrast{color: beige;}
  .global-pink-text-contrast{color: beige;}

  .global-blue-text-alert{color: $red;}
  .global-red-text-alert{color: $red;}
  .global-green-text-alert{color: $red;}
  .global-white-text-alert{color: $red;}
  .global-cyan-text-alert{color: $red;}
  .global-pink-text-alert{color: $red;}
  .global-notheme-text-alert{color: $red;}

  .global-blue-item-background-fade{background-color: $transparent}
  .global-red-item-background-fade{background-color: $transparent}
  .global-green-item-background-fade{background-color: $transparent}
  .global-notheme-item-background-fade{background-color: $transparent}
  .global-cyan-item-background-fade{background-color: $transparent}
  .global-white-item-background-fade{background-color: $transparent}
  .global-pink-item-background-fade{background-color: $transparent}
  .global-blue-item-background-fade{background-color: $transparent;}

  .global-blue-item-background{background-color: darken($obj-blue-light, 10%);}
  .global-red-item-background{background-color: darken($obj-red-light, 10%);}
  .global-green-item-background{background-color: darken($obj-green-light, 10%);}
  .global-notheme-item-background{background-color: darken($obj-noTheme-light, 10%);}
  .global-cyan-item-background{background-color: darken($obj-cyan-light, 10%);}
  .global-white-item-background{background-color: darken($obj-white-light, 10%);}
  .global-pink-item-background{background-color: darken($obj-pink-light, 10%);}

  .global-blue-input{color: $black;border-color: $black; background-color: $transparent;}
  .global-red-input{color: $black;border-color: $black; background-color: $transparent;}
  .global-green-input{color: $black;border-color: $black; background-color: $transparent;}
  .global-cyan-input{color: $black;border-color: $black; background-color: $transparent;}
  .global-notheme-input{color: $black;border-color: $black; background-color: $transparent;}
  .global-white-input{color: $beige;border-color: $black; background-color: $transparent;}
  .global-pink-input{color: $beige;border-color: $black; background-color: $transparent;}

  .global-blue-input-contrast{color: black;border-color: black;}
  .global-red-input-contrast{color: black;border-color: black;}
  .global-green-input-contrast{color: black;border-color: black;}
  .global-cyan-input-contrast{color: black;border-color: black;}
  .global-notheme-input-contrast{color: black;border-color: black;}
  .global-white-input-contrast{color: beige;border-color: beige;}
  .global-pink-input-contrast{color: beige;border-color: beige;}

  .global-blue-input-alert{color: $red;border-color: $red;}
  .global-red-input-alert{color: $red;border-color: $red;}
  .global-green-input-alert{color: $red;border-color: $red;}
  .global-white-input-alert{color: $red;border-color: $red;}
  .global-cyan-input-alert{color: $red;border-color: $red;}
  .global-pink-input-alert{color: $red;border-color: $red;}
  .global-notheme-input-alert{color: $red;border-color: $red;}
}

.global-blue-bordercolor{border-color: beige;}
.global-red-bordercolor{border-color: beige;}
.global-green-bordercolor{border-color: beige;}
.global-cyan-bordercolor{border-color: beige;}
.global-notheme-bordercolor{border-color: beige;}
.global-white-bordercolor{border-color: black;}
.global-pink-bordercolor{border-color: black;}

.global-blue-bordercolor-contrast{border-color: black;}
.global-red-bordercolor-contrast{border-color: black;}
.global-green-bordercolor-contrast{border-color: black;}
.global-cyan-bordercolor-contrast{border-color: black;}
.global-notheme-bordercolor-contrast{border-color: black;}
.global-white-bordercolor-contrast{border-color: black;}
.global-pink-bordercolor-contrast{border-color: black;}

.global-blue-bordercolor-fade{border-color: $transparent;}
.global-red-bordercolor-fade{border-color: $transparent;}
.global-green-bordercolor-fade{border-color: $transparent;}
.global-cyan-bordercolor-fade{border-color: $transparent;}
.global-notheme-bordercolor-fade{border-color: $transparent;}
.global-white-bordercolor-fade{border-color: $transparent;}
.global-pink-bordercolor-fade{border-color: $transparent;}

.global-blue-bordercolor-selecting{border-color: rgb(40, 200, 240);}//ok
.global-red-bordercolor-selecting{border-color: $red;}
.global-green-bordercolor-selecting{border-color: yellowgreen;}//ok
.global-cyan-bordercolor-selecting{border-color: rgb(0, 251, 255);}
.global-notheme-bordercolor-selecting{border-color: beige;}//ok
.global-white-bordercolor-selecting{border-color: red;}
.global-pink-bordercolor-selecting{border-color: red;}

.global-blue-bordercolor-selected{border-color: rgb(40, 200, 240); border-style: dashed;}//ok
.global-red-bordercolor-selected{border-color: $red; border-style: dashed;}
.global-green-bordercolor-selected{border-color: yellowgreen; border-style: dashed;}//ok
.global-cyan-bordercolor-selected{border-color: rgb(0, 251, 255); border-style: dashed;}
.global-notheme-bordercolor-selected{border-color: beige; border-style: dashed;}//ok
.global-white-bordercolor-selected{border-color: red; border-style: dashed;}
.global-pink-bordercolor-selected{border-color: red; border-style: dashed;}

.global-blue-bordercolor-alert{border-color: $red;}
.global-red-bordercolor-alert{border-color: $red;}
.global-green-bordercolor-alert{border-color: $red;}
.global-white-bordercolor-alert{border-color: $red;}
.global-cyan-bordercolor-alert{border-color: $red;}
.global-pink-bordercolor-alert{border-color: $red;}
.global-notheme-bordercolor-alert{border-color: $red;}