@import '../../../../global.scss';

.dividerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
  margin-bottom: 2px;

  align-items: center;
  text-align: start;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.dividerLighten {
  background: transparentize(#000000, 0.9); 
}

.dividerContainerEmptyTitle{
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}

.titleLineContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
}

.dividerTitleLine{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
  font-weight: bold;
  margin: 0px 5px 0px 10px;
}

.dividerImage{
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 7px;
}

.dividerImage:hover{
  padding: 4px;
}

.dividerNewItemContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.dividerNewItemImageContainer{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.dividerNewItemImage{
  max-width: 30px;
  max-height: 30px;
  padding: 5px;
}

.dividerNewItemImage:hover{
  padding: 2px;
}