@import '../../../../global.scss';

$bor: false;

.category-row{
  display: flex;
  flex-direction: row;
  background-color: $blue-dark;
  align-items: center;
  border-width: 0px 1px 1px 1px;
  border-color: $blue-darker;
  border-style: solid;
  @if $bor {border: 1px solid red;}
}

.category-text{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  font-weight: bold;
  color: beige;
  padding: 5px;
  @if $bor {border: 1px solid yellow;}
}

.category-text-input{
  display: flex;
  background-color: $blue-dark;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  font-weight: bold;
  color: $beige;
  border: 1px solid $beige;
  border-radius: 5px;
  @if $bor {border: 1px solid green;}
}

.category-text-input:focus{
  display: flex;
  background-color: $blue-dark;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  font-weight: bold;
  color: $red;
  border: 1px solid yellow;
  border-radius: 5px;
  @if $bor {border: 1px solid green;}
}

.category-image-container{
  width: 15%;
  padding: 5px 0px;
  @if $bor {border: 1px solid yellow;}
}

.add-image{
  cursor: pointer;
  max-width: 30px;
  max-height: 30px;
  padding: 3px;
  @if $bor {border: 1px solid purple;}
}

.add-image:hover{
  padding: 0px;
}

.trash-image{
  cursor: pointer;
  max-width: 30px;
  max-height: 30px;
  padding: 3px;
  @if $bor {border: 1px solid purple;}
}

.trash-image:hover{
  padding: 0px;
}

.fold-image{
  cursor: pointer;
  max-width: 30px;
  max-height: 30px;
  padding: 3px;
  @if $bor {border: 1px solid purple;}
}

.fold-image:hover{
  padding: 0px;
}

.unfold-image{
  cursor: pointer;
  max-width: 30px;
  max-height: 30px;
  padding: 3px;
  @if $bor {border: 1px solid purple;}
}

.unfold-image:hover{
  padding: 0px;
}

