@import '../../../global.scss';


$bor: false;
.objectiveArchivedContainer{
  cursor: pointer;
  display: flex;
  min-height: 40px;
  margin: 2px;
  padding: 3px 6px;
  align-items: center;
  width: 100%;

  border-width: 1px;
  border-color: $black;
  border-style: solid;
  border-radius: 5px;

  @if($bor){
    border-width: 1px;
    border-color: white;
    border-style: solid;
  }
}

.objectiveArchivedContainer:hover{
  justify-content: center;
}

.objectiveArchivedText{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.objectiveArchivedImage{
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 2px;
}
