@import '../../../../global.scss';

.waitContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
  margin-bottom: 2px;
  
  align-items: center;
  text-align: start;
  
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.waitContainer:hover{
  // border-color: red;
}

.waitContainerSelected{
  border-color: red;
  border-style: dashed;
}

.waitContainerSelectedEnding{
  border-style: solid;
}

.waitTitleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.waitTitle{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 35px;
  margin-right: 5px;
  padding: 0px 10px 0px 10px;
  color: beige;
}
.waitTitle:hover{
  cursor: pointer;
  font-weight: bold;
}

.waitInput{
  width: 100%;
  height: 26px;
  padding: 0px 10px 0px 10px;
  margin-right: 5px;
  color: beige;
  background-color: #00000000;
  border-width: 1px;
  border-color: beige;
  border-style: dashed;
  border-radius: 5px;
  outline: 0px;
}

.waitImage{
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.upDownImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.upDownImage:hover{
  padding: 4px;
}

.inputImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.inputImage:hover{
  padding: 4px;
}

.waitContainerBlue{background-color: #035a9c;}
.waitContainerRed{background-color: rgb(189, 32, 32);}
.waitContainerGreen{background-color: rgb(64, 121, 64);}
.waitContainerWhite{background-color: #D8AE7E;}
.waitContainerNoTheme{background-color: $blue-darker-darker}

.waitTextBlue{color: beige,}
.waitTextRed{color: beige,}
.waitTextGreen{color: beige,}
.waitTextWhite{color: black,}
.waitTextNoTheme{color: beige,}