@import '../../../../global.scss';

.waitContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
  border-radius: 5px;
  margin-bottom: 2px;
  
  align-items: center;
  text-align: start;
}

.waitContainerClear{
  background-color: $transparent;
  border-color: $transparent;
}

.waitContainer:hover{
  border-color: black;
}

.waitContainerSelected{
  border-color: red;
  border-style: dashed;
}

.waitContainerSelectedEnding{
  border-style: solid;
}

.waitTitleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
}

.waitTitle{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 35px;
  margin-right: 5px;
  padding: 0px 10px 0px 10px;
}
.waitTitle:hover{
  cursor: pointer;
}

.waitImage{
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.upDownImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.upDownImage:hover{
  padding: 4px;
}

.inputImage{
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  padding: 7px;
}

.inputImage:hover{
  padding: 4px;
}